dl {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex: 0 0 100%;
  place-items: center;
}

dl .project-name-dd{
  color: #101828;
  font-size: 14px;
  font-weight: 700;
  flex: 1 0 100%;
  order: -3;
  margin-bottom: 8px;
}
.project-name-dt{
  display: none;
}


dl dd {
  color: #101828;
  font-size: 14px;
}

dl dd {
  flex: 0 0 12%;
  color: #101828;
  font-size: 12px;
  order: -1;
}
dl dt{
  flex: 0 0 12%;
  color: #667085;
  font-size: 12px;
  margin-bottom: 4px;
  order: -2;
}
dl dt.bank-account,
dl dd.bank-account{
  flex: 0 0 16%;
}
ul {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  display: none;
}
ul li {
  flex: 1 0 17%;
}

@media (max-width: 992.8px) {
  dl {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 22px;
    row-gap: 15px;
    place-items: inherit;
    align-items: center;
  }
  dl .project-name-dd{
    grid-column: span 2;
  }
  dl dd{
    order: 0;
  }
  dl dt{
    order: 0;
  }
}
