<dl>
    <dt>
        عنوان
    </dt>
    <dd>
        {{project.title}}
    </dd>
    <dt>
        نوع پروژه 
    </dt>
    <dd>
        {{project.projectType.title}}
    </dd>
    <dt>
        آدرسی
    </dt>
    <dd>
        {{project.address}}
    </dd>
</dl>

<ul
    class="listItemActionMenu"
>
    <loading
        *ngIf="isLoading"
    ></loading>
    <li>
        <button
            (click)="remove()"
            class="removebtn"
            title="حذف پروژه {{project.title}}"
            [disabled]="isLoading"
        >
            حذف پروژه {{project.title}}
        </button>
        
    </li>
    

</ul>