<a
    [routerLink]="['add']"
    class="add-new-user"
>
    افزودن کاربر
</a>
<loading
    *ngIf="isLoading"
></loading>
<ul
    *ngIf="!isLoading"
    class="user-panel container"
>
    <ul class="user-panel-header">
        <li>نام و نام خانوادگی</li>
        <li>ایمیل</li>
        <li>سطح دسترسی</li>
        <li>فعال / غیرفعال</li>
    </ul>
    <li
        *ngFor = 'let user of userList'
        class="user-info"
    >
        <dl>
            <dt>
                نام
            </dt>
            <dd>
                {{user.firstname}}
            </dd>

            <dt>
                نام خانوادگی
            </dt>
            <dd>
                {{user.lastname}}
            </dd>

            <dt>
                نام کاربری
            </dt>
            <dd>
                {{user.username}}
            </dd>
        </dl>

        <ul>
            <li>
                ویرایش
            </li>

            <li>
                <a href="/userManagement/setAccess;userId={{user._id}}">
                    دسترسی
                </a>
            </li>
        </ul>
    </li>
</ul>