.add-new-user {
  font-size: 14px;
  font-family: IRANSansWeb;
  background: #7f56d9;
  color: #fff;
  border: none;
  transition: all 0.4s;
  display: flex;
  gap: 6px;
  width: fit-content;
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 10px;
}
.add-new-user::before {
  content: url("../../../assets/images/icons/plus.svg");
  height: 20px;
}
.add-new-user:hover {
  background: #6941c6;
  transition: all 0.4s;
}
ul li dt {
  display: none;
}

.user-panel {
  border: 1px solid #eaecf0;
  border-radius: 12px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.user-panel-header {
  background-color: #eaecf0;
  border-radius: 12px 12px 0 0;
  display: flex;
  padding: 12px;
  flex-wrap: nowrap;
  width: 100%;
}
.user-panel-header li {
  color: #667085;
  font-size: 12px;
  text-align: right;
  flex: 1 0 25%;
  max-width: 25%;
}
ul li dl dd {
  color: #101828;
  font-size: 14px;
}

.user-info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.user-info dl {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 75%;
  max-width: 75%;
  margin-right: 12px;
}
.user-info dl dd {
  flex: 1 0 33%;
  max-width: 33%;
}
.user-info ul {
  display: flex;
  flex: 1 0 25%;
  max-width: 25%;
  margin-right: -21px;
}
.user-info ul li {
  color: #101828;
  font-size: 14px;
}
