<a
    href="/userManagement/add"
>
    کاربر جدید
</a>
<ul>
    <li
        *ngFor = 'let user of userList'
    >
        <dl>
            <dt>
                نام
            </dt>
            <dd>
                {{user.firstname}}
            </dd>

            <dt>
                نام خانوادگی
            </dt>
            <dd>
                {{user.lastname}}
            </dd>

            <dt>
                نام کاربری
            </dt>
            <dd>
                {{user.username}}
            </dd>
        </dl>

        <ul>
            <li>
                ویرایش
            </li>

            <li>
                <a href="/userManagement/setAccess;userId={{user._id}}">
                    دسترسی
                </a>
            </li>
        </ul>
    </li>
</ul>