legend {
  font-size: 24px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: 700;
}
button {
  background: #7f56d9;
  border: none;
  color: #fff;
  width: 100%;
  padding: 8px 0;
  margin-top: 40px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
form {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 95vh;
  padding: 20px;
  overflow: hidden;
}
form::after {
  content: "";
  background: url("../../../../assets/images/login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
@media (max-width: 992.8px) {
  form{
    display: flex;
  }
  form::after{
    background: none;
  }
  div{
    width: 100%;
  }
}