<form>
	<div>
		<legend>
			ورود به حساب کاربری
		</legend>

		<fieldset
			[disabled]="isLoading"
		>
			<ul>
				<li>
					<label for="txtCustomerEmail"> ایمیل </label>
					<input
						type="email"
						name="txtCustomerEmail"
						id="txtCustomerEmail"
						maxlength="150"
						[(ngModel)]="email"
					/>
				</li>

				<li>
					<label for="txtCustomerPassword"> رمز عبور </label>
					<input
						type="password"
						name="txtCustomerPassword"
						id="txtCustomerPassword"
						maxlength="150"
						[(ngModel)]="password"
					/>
				</li>
			</ul>
		</fieldset>

		<footer>
			<loading
				*ngIf="isLoading"
			></loading>

			<validation-result
				*ngIf="validationResult.hasError"
				[validationResult]="validationResult"
			></validation-result>
			
			<button (click)="login()">ورود</button>
		</footer>
	</div>
</form>
