u {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-radius: 8px;
  padding: 4px 6px;
  color: #fff;
  gap: 8px;
}

.cri_pending::after {
  content: url("../../../assets/images/icons/not-seen.svg");
  width: 16px;
  height: 16px;
}

.cri_approved::after {
  content: url("../../../assets/images/icons/check.svg");
  width: 16px;
  height: 16px;
}

.cri_rejected::after {
  content: url("../../../assets/images/icons/reject.svg");
  width: 16px;
  height: 16px;
}

.cri_unknown {
  background-color: orange;
}
