u{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.cri_pending
{
background-color: gray;
}

.cri_approved{
    background-color: green;
}

.cri_rejected{
    background-color: red;
}

.cri_unknown{
    background-color: orange;
}