u{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    border-radius: 8px;
    padding: 4px 6px;
}

.cri_pending
{
background-color: #F9FAFB;
color: #067647;
}

.cri_approved{
    background-color: #ECFDF3;
    color: #344054;
}

.cri_rejected{
    background-color: #FEF3F2;
    color: #B42318;
}

.cri_unknown{
    background-color: orange;
}
