<section class="container">
    <header class="header">
        <h2>
            تعهدات مالی واریز نشده خریداران
        </h2>
        <button
            *ngIf="!isLoading && contractPaymentList && contractPaymentList.length > 0"
            (click)="downloadReportDoc()"
            class="downloadbtn"
        >
            دانلود
        </button>
    </header>
    
    
    <loading-list
        *ngIf="isLoading"
    ></loading-list>

    <contract-payment-list 
        *ngIf="!isLoading && contractPaymentList && contractPaymentList.length > 0"
        [contractPaymentList] = 'contractPaymentList'
    ></contract-payment-list>
    
    <empty-list
        *ngIf="!isLoading && contractPaymentList && contractPaymentList.length == 0"
    ></empty-list>

</section>