ol{
  flex-direction: column;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
ol .contract-payment-list-item {
  display: flex;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  position: relative;
}

contract-payment-list-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

ul {
  display: flex;
  background-color: #f9fafb;
  padding: 16px;
  flex-wrap: wrap;
}
ul li {
  color: #667085;
  font-size: 12px;
  flex: 0 0 16.6%;
}
@media (max-width: 992.8px) {
  ol{
    margin: 0 0 40px 0;
    padding: 0;
  }
}