<contract-payment-filter
    (setFilter) = 'setFilter($event)'
></contract-payment-filter>

<div
    *ngIf="!filterOptions"
    class="container empty"
>
    فیلتر نمایش لیست پرداخت را تکمیل کنید.
</div>

<loading
    *ngIf="isLoading"
></loading>

<contract-payment-list 
    *ngIf="!isLoading && contractPaymentList.length > 0"
    [contractPaymentList] = 'contractPaymentList'
></contract-payment-list>

<empty-list
    *ngIf="filterOptions && !isLoading && contractPaymentList.length == 0"
></empty-list>