<h2>
    جستجوی پرداخت ها
</h2>

<ul>
    <li>
        <contract-payment-filter
            (setFilter) = 'setFilter($event)'
        ></contract-payment-filter>
    </li>
    <li
        *ngIf="!isLoading && contractPaymentList && contractPaymentList.length > 0"
    >
        <button
            (click)="downloadDoc()"
            class="downloadbtn"
        >
            دانلود
        </button>
    </li>
</ul>

<div
    *ngIf="!filterOptions"
    class="container empty"
>
    فیلتر نمایش لیست پرداخت را تکمیل کنید.
</div>

<loading-list
    *ngIf="isLoading"
></loading-list>



<contract-payment-list 
    *ngIf="!isLoading && contractPaymentList && contractPaymentList.length > 0"
    [contractPaymentList] = 'contractPaymentList'
></contract-payment-list>

<empty-list
    *ngIf="filterOptions && !isLoading && contractPaymentList && contractPaymentList.length == 0"
></empty-list>