<form>
    <legend>
        ثبت پرداخت واریزی
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="cmpSelectBankAccount"
                >
                    شماره حساب:
                </label>
                <select-bank-account
                    id="cmpSelectBankAccount"
                ></select-bank-account>
            </li>

            <li>
                <label
                    for="txtDueDate"
                >
                    تاریخ سررسید:
                </label>
                
                <input
                    type="text"
                    id="txtDueDate"
                >
            </li>

        </ul>

        <ul>
            <li>
                <button
                    type="button"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>