<form>
    <legend>
        ثبت پرداخت واریزی
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtPrice"
                >
                    مبلغ:
                </label>
                
                <input
                    type="number"
                    id="txtPrice"
                    name="txtPrice"
                    max = "999999999"
                    [(ngModel)]= 'contractPayment.price'
                >
            </li>

            <li>
                <label
                    for="cmpSelectBankAccount"
                >
                    شماره حساب:
                </label>
                <select-bank-account
                    id="cmpSelectBankAccount"
                    (setBankAccount)= "setBankAccount($event)"
                ></select-bank-account>
            </li>

            <li>
                <label
                    for="txtDueDate"
                >
                    تاریخ سررسید:
                </label>
                
                <input
                    type="date"
                    id="txtDueDate"
                    name="txtDueDate"
                    [(ngModel)]= 'contractPayment.dueDate'
                >
            </li>

        </ul>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>