div {
  display: flex;
  flex-wrap: nowrap;
}
dl {
  display: flex;
  max-width: 86.8%;
  flex: 1 0 86.8%;
  margin: 0 12px 0 0;
}

dl dt {
  display: none;
}

dl dd {
  color: #101828;
  font-size: 14px;
  font-weight: 400;
  flex: 1 0 11%;
  text-overflow: ellipsis;
  height: 1.6em;
  white-space: nowrap;
}
dl ul {
  display: flex;
}
.listItemActionMenu {
  display: flex;
  flex: 1 0 12.5%;
  max-width: 12.5%;
  font-size: 9px;
  margin-right: -5px;
}
.submit-btn {
  text-indent: -9000px;
  background: url("../../../assets/images/icons/clipboard-check.svg");
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}
.review-request-btn {
  text-indent: -9000px;
  background: url("../../../assets/images/icons/review-request.svg");
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}
.submit-contract-btn {
  text-indent: -9000px;
  background: url("../../../assets/images/icons/submit-contract.svg");
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

dl ul.hide {
  display: none;
}
.contractReviewsInfo {
  width: 70%;
  display: block;
  text-indent: -90000px;
  overflow: hidden;
  background: url("../../../assets/images/icons/info-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.contractReviewsInfo:hover + .hide {
  display: flex;
  background-color: #b5c6e9;
  border-radius: 8px;
  padding: 12px;
  flex-direction: column;
  gap: 6px;
  position: absolute;
}
.customer-list-label {
  color: #101828;
  font-size: 14px;
  font-weight: 400;
  flex: 1 0 14%;
  max-width: 14%;
  flex: 1 0 11%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.6em;
  white-space: nowrap;
}
.downloadbtn {
  background-color: transparent;
  background: url("../../../assets/images/icons/share-02.svg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -900000px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 14px;
  height: 20px;
  width: 20px;
}
.edit-btn {
  text-indent: -9000px;
  background: url("../../../assets/images/icons/edit-01.svg");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  display: block;
  color: rgba(0, 0, 0, 0);
}
.remove-btn{
  text-indent: -9000px;
  background: url("../../../assets/images/icons/trash-03.svg");
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  display: block;
  color: rgba(0, 0, 0, 0);
  border: none;
  background-color: transparent;
}
.listItemActionMenu {
  display: flex;
  align-items: center;
  gap: 36px;
}

@media (max-width: 992.8px) {
  dl {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 8px;
    padding: 12px;
    margin: 0;
    column-gap: 18px;
  }
  dl dt {
    display: block !important;
    color: #667085;
    font-size: 12px;
  }
  dl dd {
    font-size: 12px;
    overflow: unset;
  }
  .listItemActionMenu {
    display: flex;
    flex: 0 0 100%;
    margin-right: 0;
    padding: 12px;
    max-width: 100%;
    justify-content: space-between;
    border-top: 1px solid #eaecf0;
    margin-top: 6px;
  }
  .listItemActionMenu li:empty {
    display: none;
  }
}
