<dl>
    <dt>
        شماره قرارداد
    </dt>
    <dd>
        {{contract.contractNumber}}
    </dd>

    <dt>
        تاریخ قرارداد
    </dt>
    <dd>
        {{contract.contractDateShamsi}}
    </dd>

    <dt>
        تاریخ تحویل
    </dt>
    <dd>
        {{contract.contractFinishDateShamsi}}
    </dd>


    <dt>
        خریدار
    </dt>
    <dd class="customer-list-label">
        <u
            *ngIf="!contract.customers || contract.customers.length == 0 "
        >
            ثبت نشده
        </u>
        <customer-list-label
            *ngIf= 'contract.customers && contract.customers.length > 0 '
            [customerList]= "contract.customers"
        ></customer-list-label>
    </dd>

    <dt>
        مبلغ قرارداد(ريال)
    </dt>
    <dd>
        <u
            *ngIf="!contract.payablePrice"
        >
            ثبت نشده
        </u>
        <price-label
            *ngIf="contract.payablePrice"
            [price]="contract.payablePrice"
        ></price-label>
    </dd>

    <dt>
        مورد قرارداد
    </dt>
    <dd>
        <u
            *ngIf="!contract.projectItem"
        >
            ثبت نشده
        </u>
        <project-item-abbreviation
            *ngIf="contract.projectItem"
            [projectItem] = "contract.projectItem"
        ></project-item-abbreviation>
    </dd>

    <dt>
        وضعیت قرارداد
    </dt>
    <dd>
        <contract-status-icon
            [contract]= "contract"
        ></contract-status-icon>
    </dd>

    <dt>
        وضعیت بررسی
    </dt>
    <dd>
        <i
            class="contractReviewsInfo"
        >
            info
        </i>
        <ul
            *ngIf="contract && contract.contractReviews && contract.contractReviews.length > 0"
            class="hide"
        >
            <li
                *ngFor = 'let contractReview of contract.contractReviews'
            >
                <contract-review-icon
                    [contractReview] = "contractReview"
                ></contract-review-icon>
            </li>
        </ul>
        <u
            *ngIf="contract && contract.contractReviews && contract.contractReviews.length == 0"
            title="درخواستی ثبت نشده است."
        ></u>
    </dd>
    
</dl>

<ul
    class="listItemActionMenu"
>
    <li>
        <a
            *ngIf="contract.isDraft"
            [routerLink]="['../../editContract','contractId',contract._id,'customerList','list']"
        >
            ویرایش
        </a>
    </li>

    <li>
        <a
            *ngIf="contract.isDraft && contractHelper.isContractDataCompleted(contract)"
            [routerLink]="['../../editContract','contractId',contract._id,'preview']"
        >
            ثبت قطعی
        </a>
    </li>

    <li>
        <a
            *ngIf="!contract.isDraft && contract.isRequested && contractHelper.isContractDataCompleted(contract)"
            [routerLink]="['/','contractManagement','detail','contractId',contract._id,'requestReview']"
        >
            درخواست بررسی
        </a>
    </li>
    
    <li
        *ngIf="!contract.isDraft && contract.isRequested"
    >
        <a
        
            [routerLink]="['../../detail','contractId',contract._id,'acceptRequest']"
        >
            تایید قرارداد
        </a>
    </li>

    <li
        *ngIf="!contract.isDraft && !contract.isRequested && contract.isAccepted"
    >
        <button
            (click)="downloadDoc()"
            class="downloadbtn"
        >
            دانلود
        </button>
        
    </li>
    

</ul>


