div {
  display: flex;
  flex-wrap: nowrap;
}
dl {
  display: flex;
  max-width: 86.8%;
  flex: 1 0 86.8%;
  margin: 0 12px 0 0;
}

dl dt {
  display: none;
}

dl dd {
  color: #101828;
  font-size: 14px;
  font-weight: 400;
  flex: 1 0 11%;
  text-overflow: ellipsis;
  height: 1.6em;
  white-space: nowrap;
}
dl ul {
  display: flex;
}
.listItemActionMenu {
  display: flex;
  flex: 1 0 12.5%;
  max-width: 12.5%;
  font-size: 9px;
  margin-right: -21px;
}

dl ul.hide {
  display: none;
}
.contractReviewsInfo {
  width: 70%;
  display: block;
  text-indent: -90000px;
  overflow: hidden;
  background: url("../../../assets/images/icons/info-circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.contractReviewsInfo:hover + .hide {
  display: flex;
  background-color: #101828;
  border-radius: 8px;
  padding: 12px;
  flex-direction: column;
  gap: 6px;
  position: absolute;
}
.customer-list-label{
  color: #101828;
  font-size: 14px;
  font-weight: 400;
  flex: 1 0 14%;
  max-width: 14%;
  flex: 1 0 11%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.6em;
  white-space: nowrap;
}
