<dl>
    <dt>
        شماره قرارداد
    </dt>
    <dd>
        {{contract.contractNumber}}
    </dd>

    <dt>
        تاریخ قرارداد
    </dt>
    <dd>
        {{contract.createDateTime}}
    </dd>


    <dt>
        خریدار
    </dt>
    <dd
        *ngIf="contract.customers"
    >
        <customer-label
            *ngFor = 'let customer of contract.customers'
            [customer]="customer"
        ></customer-label>
    </dd>
    
    <dt
    >
        بلوک
    </dt>
    <dd
        *ngIf="contract.projectItem && contract.projectItem.block"
    >
        {{contract.projectItem.block}}
    </dd>

    <dt
        
    >
        طبقه
    </dt>
    <dd
        *ngIf="contract.projectItem && contract.projectItem.floor"
    >
        {{contract.projectItem.floor}}
    </dd>

    <dt>
        واحد
    </dt>
    <dd
        *ngIf="contract.projectItem && contract.projectItem.unit"
    >
        {{contract.projectItem.unit}}
    </dd>

    

    <dt>
        مبلغ قرارداد
    </dt>
    <dd
        *ngIf="contract.payablePrice"
    >
        {{contract.payablePrice}}
    </dd>
</dl>

<ul
    class="listItemActionMenu"
>
    <li>
        <a
            href= "/editContract;contractId={{contract._id}}"
            *ngIf="contract.isDraft"
        >
            ویرایش
        </a>
    </li>
    <li>
        <a
            href="/contractManagement/requestReview;contractId={{contract._id}}"
        >
            درخواست بررسی
        </a>
        
    </li>
</ul>

