form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
form legend{
  flex: 0 0 68%;
}
form fieldset{
  flex: 0 0 30%;
}

form button,
form a{
  width: 100%;
}
.action-list{
  gap: 8px;
  margin-bottom: 42px;
  margin-top: 10px;
}