<loading
        *ngIf="isLoading"
></loading>

<ul
    *ngIf="!isLoading && userCompanyAccessList.length > 0"
>
    <li
        *ngFor = 'let userCompanyAccess of userCompanyAccessList'
    >
        <input
            type="radio"
            name = 'userCompanyAccess'
            [attr.id]="userCompanyAccess._id"
            value="{{userCompanyAccess._id}}"
            (change)="selectUserCompanyAccess(userCompanyAccess)"
            [checked]="userCompanyAccess._id == selectedUserCompanyAccess._id"
            (input)="selectedUserCompanyAccess"
        >
        <label
            [attr.for] = "userCompanyAccess._id"
        >
            {{userCompanyAccess.company.title}}
        </label>

        <company-logo
            [company]="userCompanyAccess.company"
        ></company-logo>
    </li>
</ul>

<empty-list
    *ngIf="!isLoading && userCompanyAccessList.length == 0"
></empty-list>