ul {
  padding: 12px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
ul li input[type="radio"] {
  width: fit-content;
  margin: 0;
  padding: 0;
}

ul li label {
  color: #101828;
  font-size: 22px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

company-logo{
  width:100px;
  height: 100px;
}