<form>
    <legend>
        ثبت اطلاعات خریدار
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtFirstname"
                >
                    نام:
                </label>

                <input
                    type="text"
                    id="txtFirstname"
                    name="txtFirstname"
                    [(ngModel)]="customer.firstname"
                >
            </li>

            <li>
                <label
                    for="txtLastname"
                >
                    نام خانوادگی:
                </label>

                <input
                    type="text"
                    id="txtLastname"
                    name="txtLastname"
                    [(ngModel)]="customer.lastname"
                >
            </li>

            <li>
                <label
                    for="txtNatinalCode"
                >
                    کد ملی:
                </label>

                <input
                    type="text"
                    id="txtNatinalCode"
                    name="txtNatinalCode"
                    [(ngModel)]="customer.nationalCode"
                >
            </li>

            <li>
                <label
                    for="txtPostalCode"
                >
                    کد پستی:
                </label>

                <input
                    type="text"
                    id="txtPostalCode"
                    name="txtPostalCode"
                    [(ngModel)]= "customer.postalCode"

                >
            </li>

            <li>
                <label
                    for="txtMobileNumber"
                >
                    شماره موبایل:
                </label>

                <input
                    type="text"
                    id="txtMobileNumber"
                    name="txtMobileNumber"
                    [(ngModel)]= "customer.mobileNumber"
                >
            </li>

            <li>
                <label
                    for="txtPhoneNumber"
                >
                    تلفن ثابت:
                </label>

                <input
                    type="text"
                    id="txtPhoneNumber"
                    name="txtPhoneNumber"
                    [(ngModel)]= "customer.phoneNumber"
                >
            </li>

            <li>
                <label
                    for="txtAddress"
                >
                    آدرس:
                </label>

                <textarea
                    id="txtAddress"
                    name="txtAddress"
                    [(ngModel)]= "customer.address"
                ></textarea>
            </li>
        </ul>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>