<form>
    <legend>
        ثبت اطلاعات خریدار
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtFirstname"
                >
                    نام:
                </label>

                <input
                    type="text"
                    id="txtFirstname"
                >
            </li>

            <li>
                <label
                    for="txtLastname"
                >
                    نام خانوادگی:
                </label>

                <input
                    type="text"
                    id="txtLastname"
                >
            </li>

            <li>
                <label
                    for="txtNatinalCode"
                >
                    کد ملی:
                </label>

                <input
                    type="text"
                    id="txtNatinalCode"
                >
            </li>

            <li>
                <label
                    for="txtPostalCode"
                >
                    کد پستی:
                </label>

                <input
                    type="text"
                    id="txtPostalCode"
                >
            </li>

            <li>
                <label
                    for="txtMobileNumber"
                >
                    شماره موبایل:
                </label>

                <input
                    type="text"
                    id="txtMobileNumber"
                >
            </li>

            <li>
                <label
                    for="txtPhoneNumber"
                >
                    تلفن ثابت:
                </label>

                <input
                    type="text"
                    id="txtPhoneNumber"
                >
            </li>

            <li>
                <label
                    for="txtAddress"
                >
                    تلفن ثابت:
                </label>

                <textarea
                    id="txtAddress"
                ></textarea>
            </li>
        </ul>

        <ul>
            <li>
                <button
                    type="button"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>