<nav>
    <ul>
        <!-- <li>
            
            <a 
                href= "/editContract;contractId={{contract._id}}/projectItem"
            >
            لیست قراردادها  
            </a>
        </li> -->

        <li>
            
            <a 
                href= "/addContract"
            >
                ثبت قرارداد جدید
            </a>
        </li>

        <li>
            
            <a 
                href= "/userManagement"
            >
                مدیریت کاربران
            </a>
        </li>

        <li>
            
            <a 
                href= "/projectManagement"
            >
                مدیریت پروژه ها
            </a>
        </li>

        <li>
            
            <a 
                href= "/contractManagement"
            >
                مدیریت قراردادها
            </a>
        </li>

        <!-- <li>
            <a 
                href= "/editContract;contractId={{contract._id}}/projectItem"
            >
                لیست پرداخت ها
            </a>
            
        </li> -->
    </ul>
</nav>
