
<header>
    <nav class="container">
        <menu-select-user-company-access></menu-select-user-company-access>
    
        <details class="menu">
            <summary>
                منو
            </summary>
            <ul>
                <!-- <li>
                    
                    <a 
                        href= "/editContract;contractId={{contract._id}}/projectItem"
                    >
                    لیست قراردادها  
                    </a>
                </li> -->
    
                <li>
                    
                    <a 
                        href= "/addContract"
                    >
                        ثبت قرارداد جدید
                    </a>
                </li>
    
                <li>
                    
                    <a 
                        href= "/userManagement"
                    >
                        مدیریت کاربران
                    </a>
                </li>
    
                <li>
                    
                    <a 
                        href= "/projectManagement"
                    >
                        مدیریت پروژه ها
                    </a>
                </li>
    
                <li>
                    
                    <a 
                        href= "/contractManagement/list/filter"
                    >
                        فیلتر قراردادها
                    </a>
                </li>
    
                <li>
                    
                    <a 
                        href= "/contractManagement/list/draft"
                    >
                        قرارداد های در حال انجام
                    </a>
                </li>
    
                <li>
                    
                    <a 
                        href= "/contractPaymentManagement/list"
                    >
                        مدیریت پرداخت ها
                    </a>
                </li>
    
                <li>
                    <a 
                        href= "/contractReviewManagement"
                    >
                        بررسی قرارداد ها
                    </a>
                    
                </li>
            </ul>
        </details>
    </nav>

</header>
