
<header>
    <nav class="container">
        <company-logo
            [company]="getWorkingCompany()"
        ></company-logo>
        <menu-select-user-company-access></menu-select-user-company-access>
    
        <details class="menu">
            <summary>
                منو
            </summary>
            <ul>

                <li class="border">
                    
                    <a 
                        [routerLink]="['/','userManagement','list']"
                    >
                        مدیریت کاربران
                    </a>
                </li>

                <li class="border">
                    
                    <a 
                        [routerLink]="['/','contractTemplateManagement','list']"
                    >
                        مدیریت قالب قرارداد
                    </a>
                </li>

    
                <li class="border">
                    
                    <a 
                        [routerLink]="['/','projectManagement','list']"
                    >
                        مدیریت پروژه ها
                    </a>
                </li>


                <li>
                    
                    <a 
                        [routerLink]="['/','contractManagement','addContract']"
                    >
                        ثبت قرارداد جدید
                    </a>
                </li>
    
    
                <li>
                    
                    <a 
                        [routerLink]="['/','contractManagement','list','draft']"
                    >
                        قرارداد های در حال انجام
                    </a>
                </li>

                <li>
                    
                    <a 
                        href= "/contractManagement/list/filter"
                    >
                        فیلتر قراردادها
                    </a>
                </li>

                <li>
                    <a 
                        href= "/contractReviewManagement/list/pending"
                    >
                        بررسی قرارداد ها
                    </a>
                </li>

                <li>
                    <a 
                        [routerLink]="['/','contractManagement','list','requested']"
                    >
                        قرارداد های در انتظار تایید نهایی
                    </a>
                </li>

                <li class="border">
                    <a 
                        [routerLink]="['/','contractManagement','list','accepted']"
                    >
                        قرارداد های نهایی شده
                    </a>
                </li>

    
                <li>
                    <a 
                        [routerLink]="['/','contractPaymentManagement','list','filter']"
                    >
                        فیلتر پرداخت ها
                    </a>
                </li>

                <li>
                    <a 
                        [routerLink]="['/','contractPaymentManagement','list','notSettled']"
                    >
                        پرداخت های واریز نشده
                    </a>
                </li>


                <li>
                    <button
                        (click)="logout()"
                    >
                        خروج
                    </button>
                </li>


    
                
            </ul>
        </details>
    </nav>

</header>
