dt {
  display: none;
}
dl {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  border: 2px solid #eaecf0;
  border-radius: 0 0 12px 12px;
  border-top: none;
}
dl dd {
  font-size: 14px;
  color: #101828;
  flex: 1 0 13.7%;
  max-width: 13.7%;
}
ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9fafb;
  padding: 12px;
  border: 2px solid #eaecf0;
  border-radius: 12px 12px 0 0;
}
ul li {
  flex: 1 0 13.7%;
  max-width: 13.7%;
}
