<panel-navigation></panel-navigation>

<section class="container">

    <header class="header">
        <h2>
            قالب های قرارداد
        </h2>
        <a
            [routerLink]="['../add']"
            role="button"
            class="add-item"
        >
            قالب جدید
        </a>
    </header>

    

    <loading-list
        *ngIf="isLoading"
    ></loading-list>

    <contract-template-list
        *ngIf="!isLoading && contractTemplateList && contractTemplateList.length > 0"
        [contractTemplateList] = "contractTemplateList"
        (onContractTemplateRemoved)="getAllContractTemplateList()"
    ></contract-template-list>

    <empty-list
        *ngIf="!isLoading && contractTemplateList && contractTemplateList.length == 0"
    ></empty-list>
    
</section>
