<loading
    *ngIf="isLoading"
></loading>

<form
    class="container"
    *ngIf="!isLoading && user"
>
    <legend>
        سطح دسترسی کاربر
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul class="user-access-form">
            <li>
                <label
                    for="chkAddContractTemplate"
                >
                    ثبت قالب قرارداد
                </label>
                <input
                    type="checkbox"
                    id = "chkAddContractTemplate"
                    name = "chkAddContractTemplate"
                    [(ngModel)]= "user.isAddContractTemplate"
                >
            </li>

            <li>
                <label
                    for="chkAddProject"
                >
                    اضافه کردن پروژه جدید
                </label>
                <input
                    type="checkbox"
                    id = "chkAddProject"
                    name = "chkAddProject"
                    [(ngModel)]= "user.isAddProject"
                >
            </li>

            <li>
                <label
                    for="chkAddContract"
                >
                    ثبت قرارداد
                </label>
                <input
                    type="checkbox"
                    id = "chkAddContract"
                    name = "chkAddContract"
                    [(ngModel)]= "user.isAddContract"
                >
            </li>
            
            <!-- <li>
                
                <label
                    for="chkUserManagement"
                >
                    مدیریت کاربران
                </label>
                <input
                    type="checkbox"
                    id = "chkUserManagement"
                    name = "chkUserManagement"
                    [(ngModel)]= "user.isUserManager"
                >
            </li> -->

            <!-- <li>
                
                <label
                    for="chkCustomerManagement"
                >
                    مشاهده لیست خریداران
                </label>
                <input
                    type="checkbox"
                    id = "chkCustomerManagement"
                    name = "chkCustomerManagement"
                    [(ngModel)]= "user.isCustomerManager"
                >
            </li> -->
            
            <li>
                <label
                    for="chkViewContractList"
                >
                    مشاهده لیست قراردادها   
                </label>
                <input
                    type="checkbox"
                    id = "chkViewContractList"
                    name = "chkViewContractList"
                    [(ngModel)]= "user.isContractManager"
                >
                
            </li>

            <li>
                <label
                    for="chkViewContractPaymentList"
                >
                    مشاهده لیست پرداخت ها   
                </label>
                <input
                    type="checkbox"
                    id = "chkViewContractPaymentList"
                    name = "chkViewContractPaymentList"
                    [(ngModel)]= "user.isContractPaymentManager"
                >
                
            </li>

            <li>
                <label
                    for="chkJustReviewContract"
                >
                    فقط بررسی قرارداد   
                </label>
                <input
                    type="checkbox"
                    id = "chkJustReviewContract"
                    name = "chkJustReviewContract"
                    [(ngModel)]= "user.isContractReviwer"
                >
                
            </li>

            <li>
                <label
                    for="chkIsAvctive"
                >
                    فعال/غیرفعال   
                </label>
                <input
                    type="checkbox"
                    id = "chkIsAvctive"
                    name = "chkIsAvctive"
                    [(ngModel)]= "user.isActive"
                >
                
            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>
        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>
            <li>
                <a href="/userManagement" class="secondary">
                    انصراف
                </a>
            </li>
        </ul>
    </fieldset>
</form>