<form>
    <legend>
        سطح دسترسی کاربر
    </legend>
    <fieldset>
        <ul>
            <li>
                ثبت قرارداد
            </li>
            
            <li>
                مدیریت کاربران
            </li>

            <li>
                مشاهده لیست خریداران
            </li>
            
            <li>
                مشاهده لیست قراردادها
            </li>

            <li>
                مشاهده لیست پرداخت ها
            </li>

            <li>
                فقط بررسی قرارداد
            </li>

            <li>
                فعال/غیرفعال
            </li>
        </ul>

        <ul>

        </ul>
    </fieldset>
</form>