<div>
    <loading
    *ngIf="isLoading"
></loading>

<section class="container">
    <h2>
        کاربران بررسی کننده این قرارداد
    </h2>
    <ul
        *ngIf="contractReviewList && contractReviewList.length > 0"
        class="action-list"
    >
        <li
            *ngFor="let contractReview of contractReviewList"
        >
            <user-label
                [user]="contractReview.userCompanyAccess.user"
            ></user-label>
            <button
                (click)="removeContractReview(contractReview)"
                class="remove-btn"
            >
                حذف
            </button>
        </li>
    </ul>
</section>

<section  class="container">
        <form
        *ngIf="contract"
      
    >
        <legend class="contract-legend">
            درخواست بررسی {{contractHelper.getContractTitle(contract.contractType,contract.project.projectType,contract.project)}}
        </legend>

        

        <fieldset
            [disabled]="isLoading"
        >

            <select-contract-reviewer-user-company-access-list
                (onSelectedUserCompanyAccessChanged)="selectedUserCompanyAccessChanged($event)"
            ></select-contract-reviewer-user-company-access-list>

            <loading
                *ngIf="isLoading"
            ></loading>
            
            <ul>
                <li>
                    <button
                        type="button"
                        (click)="requestReview()"
                        class="primary"
                    >
                        ثبت درخواست 
                    </button>
                </li>
                <li >
                    <a 
                        [routerLink]="['/','contractManagement','list','requested']"
                    >
                        انصراف
                    </a>
                </li>
            </ul>
        </fieldset>
    </form>

</section>

<section class="container">
    <contract-full-detail
    *ngIf="!isLoading && contract"
    [contract]="contract"
    ></contract-full-detail>

</section>


</div>