<loading
    *ngIf="isLoading"
></loading>

<form
    *ngIf="contract"
    class="container"
>
    <legend class="contract-legend">
        درخواست بررسی {{contractHelper.getContractTitle(contract.contractType,contract.project.projectType,contract.project)}}
    </legend>

    <ul
        *ngIf="contractReviewList && contractReviewList.length > 0"
    >
        <li
            *ngFor="let contractReview of contractReviewList"
        >
            <user-label
                [user]="contractReview.user"
            ></user-label>
            <button
                (click)="removeContractReview(contractReview)"
            >
                حذف
            </button>
        </li>
    </ul>

    <fieldset
        [disabled]="isLoading"
    >
        <!-- <select-user-list
            (onSelectedUserChanged)= "selectedUserChanged($event)"
        ></select-user-list> -->

        <select-contract-reviewer-user-company-access-list
            (onSelectedUserCompanyAccessChanged)="selectedUserCompanyAccessChanged($event)"
        ></select-contract-reviewer-user-company-access-list>

        <loading
            *ngIf="isLoading"
        ></loading>
        
        <ul>
            <li>
                <button
                    type="button"
                    (click)="requestReview()"
                    class="primary"
                >
                    ثبت درخواست 
                </button>
            </li>
            <li >
                <a 
                    [routerLink]="['/','contractManagement','list','requested']"
                >
                    انصراف
                </a>
            </li>
        </ul>
    </fieldset>
</form>


<contract-full-detail
    *ngIf="!isLoading && contract"
    [contract]="contract"
></contract-full-detail>


