<form
    class="container"
>
    <legend class="contract-legend">
        درخواست بررسی قرارداد
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <select-user-list
            (onSelectedUserChanged)= "selectedUserChanged($event)"
        ></select-user-list>

        <loading
            *ngIf="isLoading"
        ></loading>
        <ul>
            <li>
                <button
                    type="button"
                    (click)="requestReview()"
                    class="primary"
                >
                    ثبت درخواست 
                </button>
            </li>
            <li >
                <a href="#" class="secondary">انصراف</a>
            </li>
        </ul>
    </fieldset>
</form>
