div{
  background-color: #F2F4F7;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section{
  background-color: #fff;
  padding: 15px 32px;
  border-radius: 8px;
  margin: 16px auto;
}

legend {
  margin: 24px 0;
}
ul li button {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
ul li a {
  color: #344054;
  background: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 0;
  width: 100%;
  display: block;
  text-align: center;
}

section ul.action-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: start;
}
section ul.action-list li {
  border-radius: 50px;
  border: 1px solid #eaecf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  width: max-content;
}
section ul li .remove-btn {
  border: none;
  background-color: transparent;
  text-indent: -90000px;
  overflow: hidden;
  background: url("../../../assets/images/icons/x-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
form {
  margin-bottom: 60px;
}
form ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form ul li {
  flex: 0 0 10%;
}
@media (max-width: 992.8px) {
  form ul {
    flex-direction: column;
  }
  form ul li {
    flex: 0 0 100%;
    width: 100%;
  }
}
