<form  class="container">
    <legend>
        فیلتر پروژه
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="cmpSelectProject"
                >
                    پروژه
                </label>
        
                <select-project
                    id="cmpSelectProject"
                    (setProject)="setProject($event)"
                ></select-project>
            </li>

            <li>
                <label
                    for="cmpFilteStartDate"
                >
                    از تاریخ
                </label>
                <shmasi-date-picker
                    id="cmpFilteStartDate"
                    name="cmpFilteStartDate"
                    (setSelectedDate)="setStartDate($event)"
                >
                </shmasi-date-picker>

            </li>
            <li>
                <label
                    for="cmpFilteEndDate"
                >
                    تا تاریخ
                </label>
                <shmasi-date-picker
                    id="cmpFilteEndDate"
                    name="cmpFilteEndDate"
                    (setSelectedDate)="setEndDate($event)"
                ></shmasi-date-picker>
            </li>

            <li class="sort-filter">
                <label
                    for="rbtnSortBy"
                >
                    مرتب شده بر اساس تاریخ قرارداد
                </label>
                <input
                    type="radio"
                    id = 'rbtnSortBy'
                    name = 'rbtnSortBy'
                    value = 'contractDate'
                >
            </li>

            <li class="sort-filter">
                <label
                    for="rbtnSortBy"
                >
                    مرتب شده بر اساس تاریخ تحویل
                </label>
                
                <input
                    type="radio"
                    id = 'rbtnSortBy'
                    name = 'rbtnSortBy'
                    value = 'contractFinishDate'
                >
            </li>
        </ul>
        <ul>
            <li>
                <button
                    type="button"
                    class="secondary"
                    (click)="filter()"
                >
                    فیلتر
                </button>
            </li>

        </ul>
    </fieldset>
</form>