.primary {
  width: 100%;
  margin-top: 24px;
}
fieldset ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.message {
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  padding: 16px;
  position: relative;
}
contract-payable-price-detail{
  position: relative;
}