<edit-contract-navigation
    *ngIf="contractId"
    [contractId]= "contractId"
    [isInPayablePriceSection]= "true"
    [hasProjectItem]="contract && contract.projectItem !=undefined"
    [hasPayablePrice]="contract.payablePrice!=undefined && contract.payablePrice!=0"
></edit-contract-navigation>

<loading
    *ngIf="isLoading"
></loading>

<section
    *ngIf="!isLoading && contract"
    class="message"
>
    <add-contract-payable-price
        *ngIf= "!isLoading && contract && !contract.payablePrice"
        [contract]= "contract"
        (onContractPayablePriceSet) = "payablePriceChanged()"
    ></add-contract-payable-price>

    <contract-payable-price-detail
        *ngIf= "!isLoading && contract && contract.payablePrice"
        [contract]= "contract"
        (onContractPayablePriceRemoved)= "payablePriceChanged()"
    ></contract-payable-price-detail>
</section>



