<form>
    <legend>
        ثبت قیمت نهایی قرارداد
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtDiscount"
                >
                مبلغ تخفیف:
                </label>

                <price-input
                    id = 'txtDiscount'
                    name = 'txtDiscount'
                    (setPrice)="setDiscount($event)"
                ></price-input>

            </li>
            <li>
                <label
                    for="txtPayablePrice"
                >
                مبلغ نهایی
                </label>


                <price-input
                    id = 'txtPayablePrice'
                    name = 'txtPayablePrice'
                    (setPrice)="setPayablePrice($event)"
                ></price-input>
            </li>
        </ul>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>