.primary {
  width: 100%;
  margin-top: 24px;
}
fieldset ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.message {
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  padding: 16px;
}
.message dl {
  display: flex;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  flex-wrap: wrap;
}
.message dl dt {
  color: #667085;
  font-size: 12px;
  flex: 0 0 33%;
  order: -1;
  border-left: 1px solid #eaecf0;
  padding: 8px;
}
.message dl dd {
  color: #101828;
  font-size: 16px;
  flex: 0 0 33%;
  border-left: 1px solid #eaecf0;
  padding: 0 8px 8px 8px;
}
.message dl dd:last-child {
  border-left: none;
}
.message dl dt:nth-child(5) {
  border-left: none;
}

.message .secondary {
  width: 100%;
  margin-top: 16px;
  font-weight: 700;
  transition: all 0.3s;

}
.message .secondary:hover{
  background-color: #7F56D9;
  border: 1px solid #7F56D9;
  color: #fff;
  transition: all 0.3s;
}