<form class="container">
    <legend>
        جستجوی مشتری با کد ملی
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtNationalCode"
                >
                    کدملی:
                </label>

                <input
                    type="text"
                    id="txtNationalCode"
                    name="txtNationalCode"
                    [(ngModel)]="nationalCode"
                    maxlength="10"
                >
            </li>
        </ul>

        <ul>
            <ul>
                <li>
                    <button
                        type="button"
                        (click)="getByNationalCode()"
                        class="primary"
                    >
                        جستجو
                    </button>
                </li>
            </ul>
        </ul>
    </fieldset>
</form>

<section
    *ngIf="customer"
    class="container"
>
    <customer-label
        [customer]="customer"
    ></customer-label>
    <button
        type="button"
        (click)="selectCustomer()"
    >
        انتخاب
    </button>
</section>

<section
    *ngIf="!customer && !isLoading"
>
    <button
        type="button"
        (click)="addNewCustomerWithNationalCode()"
        class="add-new-customer"
    >
    افزودن به عنوان خریدار جدید
    </button>
</section>