<dl>
    <dt>
        عنوان
    </dt>
    <dd>
        {{contractReview.contract.contractNumber}}
    </dd>

    <dt>
        پروژه
    </dt>
    <dd>
        {{contractReview.project.title}}
    </dd>

    <dt>
        وضعیت بررسی
    </dt>
    <dd>
        {{getStatusValue()}}
    </dd>


    <project-item-detail
        [projectItem] = "contractReview.projectItem"
    ></project-item-detail>
</dl>
<ul>
    <li>
        <a
            href= "/reviewContractReview;contractReviewId={{contractReview._id}}"
        >
            بررسی
        </a>

    </li>
</ul>