<dl>
    <dt>
        نوع پرداخت
    </dt>
    <dd>
        {{chequeContractPayment.contractPaymentMethod.title}}
    </dd>

    <dt>
        حساب
    </dt>
    <dd
        *ngIf="chequeContractPayment.bankAccount"
        class="bank-account"
    >
        <bank-account-label
            [bankAccount]="chequeContractPayment.bankAccount"
        ></bank-account-label>
    </dd>

    <dt class="project-name-dt">
        پروژه
    </dt>
    <dd class="project-name-dd">
        <project-label
            [project]="chequeContractPayment.contract.project"
        ></project-label>
        
    </dd>

    <dt>
        مورد فروش
    </dt>
    <dd>
        <project-item-abbreviation
            [projectItem]="chequeContractPayment.contract.projectItem"
        ></project-item-abbreviation>
    </dd>

    <dt>
        مبلغ
    </dt>
    <dd>
        <price-label
            [price]="chequeContractPayment.price"
        ></price-label>
    </dd>

    <dt>
        شماره چک
    </dt>
    <dd
        *ngIf="chequeContractPayment.chequeNumber"
    >
        {{chequeContractPayment.chequeNumber}}
    </dd>

    <dt>
        عهد بانک
    </dt>
    <dd
        *ngIf="chequeContractPayment.bank"
    >
        <bank-label
            [bank]="chequeContractPayment.bank"
        ></bank-label>
    </dd>

    <dt>
        به نام
    </dt>
    <dd
        *ngIf="chequeContractPayment.drawer"
    >
        {{chequeContractPayment.drawer}}
    </dd>
    

    <dt>
        سررسید
    </dt>
    <dd
        *ngIf="chequeContractPayment.dueDateShamsi"
    >
        {{chequeContractPayment.dueDateShamsi}}
    </dd>

    <dt>
        پرداخت شده
    </dt>
    <dd>
        {{chequeContractPayment.isSettled}}
    </dd>
</dl>