<loading
    *ngIf="isLoading"
></loading>

<find-customer-by-national-code
    (onCustomerSelected)= "selectCustomer($event)"
    (onRequestAddNewCustomerWithNationalCode) ="addNewCustomerWithNationalCode($event)"
></find-customer-by-national-code>

<add-customer
    *ngIf="newNationalCode"
    (onCustomerAdded)= "selectCustomer($event)"
    [newNationalCode] = "newNationalCode"
></add-customer>

<ul>
    <li>
        <a
            [routerLink]="['../list']"
            role="button"
        >
            انصراف  
        </a>
    </li>
</ul>