dl {
  display: flex;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  background-color: #fff;
  flex-wrap: wrap;
}
dt {
  color: #667085;
  font-size: 12px;
  flex: 0 0 33%;
  order: -1;
  border-right: 1px solid #eaecf0;
  padding: 8px 8px 4px 4px;
}

dd {
  color: #101828;
  font-size: 16px;
  flex: 0 0 33%;
  border-right: 1px solid #eaecf0;
  padding: 4px 8px 8px 4px;
}
