<section>
    <dl>
        <dt>
            واحد
        </dt>
        <dd
            *ngIf="landParcelprojectItem.unit"
        >
            {{landParcelprojectItem.unit}}
        </dd>
    
        <dt>
            مساحت
        </dt>
        <dd
            *ngIf="landParcelprojectItem.area"
        >
            {{landParcelprojectItem.area}}
        </dd>
    
        <dt>
            مبلغ واحد
        </dt>
        <dd
            *ngIf="landParcelprojectItem.unitPrice"
        >
            {{landParcelprojectItem.unitPrice}}
        </dd>
    
       
    </dl>
</section>