<section
    *ngIf="selectedBank.title"
>
    <dl
        
    >
        <dt>
            لوگو بانک
        </dt>

        <dd
            [ngClass]="'bank_'+ selectedBank.title"
            class="bank-logo"
        >

    </dd>
        <dt>
            عنوان
        </dt>
        <dd class="bank-title">
            {{selectedBank.title_fa}}
        </dd>

    </dl>

    <button
        type="button"
        (click)="remove()"
    >
        حذف
    </button>
</section>

<details
    *ngIf="!selectedBank.title"
>
    <summary>
        انتخاب کنید
    </summary>
    <loading
        *ngIf="isLoading"
    ></loading>
    <ul
        *ngIf="!isLoading"
    >
        <li
            *ngFor = 'let bank of bankList'
            (click) = 'selectBank(bank)'
        >
            <dl>
                <dt>
                    لوگو بانک
                </dt>
        
                <dd
                    [ngClass]="'bank_'+ bank.title"
                    class="bank-logo"
                >
                   </dd>   
                <dt>
                    عنوان
                </dt>
                <dd class="bank-title">
                    {{bank.title_fa}}
                </dd>
            </dl>
        </li>
    </ul>
</details>