<section
    *ngIf="selectedBank.title"
>
    <bank-label
        [bank] = "selectedBank"
    ></bank-label>

    <button
        type="button"
        (click)="remove()"
    >
        حذف
    </button>
</section>

<details
    *ngIf="!selectedBank.title"
>
    <summary>
        انتخاب کنید
    </summary>
    <loading
        *ngIf="isLoading"
    ></loading>
    <ul
        *ngIf="!isLoading"
    >
        <li
            *ngFor = 'let bank of bankList'
            (click) = 'selectBank(bank)'
        >
            <bank-label
                [bank] = "bank"
            ></bank-label>
        </li>
    </ul>
</details>