<section
    *ngIf= "filterText != ''"
    class="container filter"
>
   <ul>
        <li>
            <b>
                {{filterText}}
            </b>
        
            <button
                (click)="removeFilter()"
            >
                حذف فیلتر
            </button>
        </li>
   </ul>
</section>

<form 
    class="container"
    *ngIf= "filterText == ''"
>
    <legend class="contract-legend">
        فیلتر پرداخت ها   
    </legend>

    <fieldset>
        <ul>
           
            <li>
                <label
                    for="cmpFilteStartDate"
                >
                    از تاریخ
                </label>

                <shmasi-date-picker
                    id="cmpFilteStartDate"
                    name="cmpFilteStartDate"
                    (setSelectedDate)="setStartDate($event)"
                ></shmasi-date-picker>

            </li>
            <li>
                <label
                    for="cmpFilteEndDate"
                >
                    تا تاریخ
                </label>

                <shmasi-date-picker
                    id="cmpFilteEndDate"
                    name="cmpFilteEndDate"
                    (setSelectedDate)="setEndDate($event)"
                ></shmasi-date-picker>
            </li>

        </ul>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>

        <ul>
            <li>
                <button
                    type="button"
                    class="primary"
                    (click)="filter()"
                >
                    فیلتر
                </button>
            </li>

        </ul>
    </fieldset>
</form>