/* img ._649006c87e7601d06532983d {
    background: url("../../../assets/images/company_logo/649006c87e7601d06532983d.svg");
}

img ._649007037e7601d06532983e {
    background: url("../../../assets/images/company_logo/649007037e7601d06532983e.svg");
} */

.cc_649006c87e7601d06532983d {
  background: url("../../../assets/images/company_logo/649006c87e7601d06532983d.svg");
  display: block;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.cc_649007037e7601d06532983e {
  background: url("../../../assets/images/company_logo/649007037e7601d06532983e.svg");
  display: block;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;

}
