<form
    id="frmAddContractPayment"
    name="frmAddContractPayment"
    class="container"
>

    <legend>
        ثبت پرداخت
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="cmpSelectContractPaymentMethod"
                >
                    نوع پرداخت:
                </label>
                <select-contract-payment-method
                    id="cmpSelectContractPaymentMethod"
                    name="cmpSelectContractPaymentMethod"
                    (setContractPaymentMethod)= "setContractPaymentMethod($event)"
                ></select-contract-payment-method>
            </li>

            <add-contract-payment-deposit
                *ngIf="isDepositPaymentMethod()"
                [contractId]="contractId"
                (onItemAdded)="itemAdded($event)"
            ></add-contract-payment-deposit>

            <add-contract-payment-cheque
                *ngIf="isChequePaymentMethod()"
                [contractId]="contractId"
                (onItemAdded)="itemAdded($event)"
            ></add-contract-payment-cheque>

            <add-contract-payment-dicker
                *ngIf="isDickerPaymentMethod()"
                [contractId]="contractId"
                (onItemAdded)="itemAdded($event)"
            ></add-contract-payment-dicker>

            <add-contract-payment-deed
                *ngIf="isDeedPaymentMethod()"
                [contractId]="contractId"
                (onItemAdded)="itemAdded($event)"
            ></add-contract-payment-deed>

        </ul>

        <ul>
            <li>
                <a
                    [routerLink]="['../list']"
                    role="button"
                >
                    انصراف  
                </a>
            </li>
        </ul>
    </fieldset>
</form>