<form>
    <legend>
        ثبت پرداخت
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="cmpSelectContractPaymentMethod"
                >
                    نوع پرداخت:
                </label>
                <select-contract-payment-method
                    id="cmpSelectContractPaymentMethod"
                ></select-contract-payment-method>
            </li>

            
            <li>
                <label
                    for="cmpSelectBankAccount"
                >
                    شماره حساب:
                </label>
                <select-bank-account
                    id="cmpSelectBankAccount"
                ></select-bank-account>
            </li>

            <li>
                <label
                    for="txtPrice"
                >
                    مبلغ:
                </label>
                
                <input
                    type="text"
                    id="txtPrice"
                >
            </li>
        </ul>

        <ul>
            <li>
                <button
                    type="button"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>