section ul:last-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

section ul:last-child li {
  flex: 1 0 20%;
  max-width: 20%;
}

section ul:last-child button {
  width: 100%;
}
form {
  margin-bottom: 46px;
}

@media (max-width: 992.8px) {
  section ul:last-child {
    gap: 8px;
  }
  section ul:last-child li {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
