.contract-review-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9fafb;
  border-radius: 12px 12px 0 0;
  border: 1px solid #eaecf0;
  padding: 12px;
}
.contract-review-header li {
  font-size: 12px;
  color: #667085;
  flex: 1 0 20%;
  max-width: 20%;
}
section ul:last-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

section ul:last-child li {
  flex: 1 0 20%;
  max-width: 20%;
}

section ul:last-child button {
  width: 100%;
}
