<section class="container">   
    <contract-review-detail
        *ngIf="!isLoading && contractReview"
        [contractReview]="contractReview"
    ></contract-review-detail>
    
    <loading
        *ngIf="isLoading"
    ></loading>
    <ul>
        <li>
            <button
                type="button"
                (click)="approve()"
                class="primary"
            >
                تایید
            </button>
        </li>
        <li>
            <button
                type="button"
                (click)="reject()"
                class="secondary"
            >
                رد
            </button>
        </li>
    </ul>
</section>