<section class="container">

    <loading
        *ngIf="isLoading"
    ></loading>

    <form
        *ngIf="contractReview"
    >
        <legend class="normal-legend">
            تعیین وضعیت بررسی
        </legend>

        <fieldset
            [disabled]="isLoading"
        >
            <ul>
                <li>
                    <button
                        type="button"
                        (click)="approve()"
                        class="primary"
                    >
                        تایید
                    </button>
                </li>

                <li>
                    <button
                        type="button"
                        (click)="reject()"
                        class="secondary"
                    >
                        رد
                    </button>
                </li>

                <li>
                    <a
                        [routerLink]="['/','contractReviewManagement','list','pending']"
                        class="closeModal"
                    >
                        بازگشت به لیست
                    </a>
                </li>
            </ul>
        </fieldset>

    </form>

    <contract-review-detail
        *ngIf="!isLoading && contractReview"
        [contractReview]="contractReview"
    ></contract-review-detail>
    
</section>