dl {
  width: 100%;
}
dl dt {
  display: none;
}

dl ul {
  display: flex;
}
dl dd{
  padding: 16px;
}
dl dd:nth-child(2) {
  color: #101828;
  font-size: 16px;
  font-weight: 700;
}
dl dd:nth-child(4) {
  border-top: 1px solid #eaecf0;
  color: #7F56D9;
  font-size: 14px;
}
section{
  font-size: 14px;
  color: #101828;
}
.listItemActionMenu{
  display: flex;
  align-items: flex-start;
  width: 40%;
  justify-content: space-between;
  padding: 16px 0 0 16px;
}

.edit-btn{
  background: url("../../../assets/images/icons/edit-01.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9000px;
  overflow: hidden;
  display: flex;
  width: 20px;
  height: 20px;
}
.remove-btn{
  border: none;
  background-color: transparent;
  background: url("../../../assets/images/icons/trash-03.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9000px;
  overflow: hidden;
  display: flex;
  width: 24px;
  height: 24px;
}
loading{
  position: absolute;
    /* right: 0; */
    /* top: 0; */
    /* transform: translate(50%, -20%); */
    left: 50%;
    transform: translate(-50%, 36%);
}