<dl>
    <dt>
        عنوان
    </dt>
    <dd>
        {{contractTemplate.title}}
    </dd>

    <dt>
        محتوا
    </dt>
    <dd>
        <details>
            <summary>
                مشاهده متن
            </summary>
            <section
                [innerHTML]="contractTemplate.htmlContent"
            ></section>
        </details>
    </dd>
</dl>
<ul
    class="listItemActionMenu"
>
    <li>
        <a
            *ngIf="contractTemplate"
            [routerLink]="['/','contractTemplateManagement','edit',contractTemplate._id]"
            class="edit-btn"
            title="ویرایش"
        >
            ویرایش
        </a>
    </li>
    <li>
        <loading
        *ngIf="isLoading"
    ></loading>
    </li>
    <li>

        <button
            [disabled]="isLoading"
            (click)="remove()"
            class="remove-btn"
        >
            حذف
        </button>
    </li>
</ul>