dl {
  width: 100%;
}
dl dt {
  display: none;
}

dl ul {
  display: flex;
}
dl dd{
  padding: 16px;
}
dl dd:nth-child(2) {
  color: #101828;
  font-size: 16px;
  font-weight: 700;
}
dl dd:nth-child(4) {
  border-top: 1px solid #eaecf0;
  color: #7F56D9;
  font-size: 14px;
}
section{
  font-size: 14px;
  color: #101828;
}