dl {
  display: flex;
  border: 2px solid #eaecf0;
  margin-top: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;
  border-radius: 8px;
}
dl dd {
  flex: 0 0 25%;
  order: -1;
  color: #101828;
  font-size: 12px;
  border-left:2px solid #eaecf0;
  padding: 6px 12px;
}
dl dt {
  flex: 0 0 25%;
  order: -2;
  color: #667085;
  font-size: 12px;
  border-left:2px solid #eaecf0;
  padding: 6px 12px;
}
dl dt:nth-child(7){
  border-left: none;
}
dl dd:nth-child(8){
  border-left: none;
}
