<section  class="container">
    <dl>

        <dt>
            شماره قرارداد
        </dt>
        <dd>
            {{contract.contractNumber}}
        </dd>

        <dt>
            نوع قرارداد
        </dt>
        <dd>
            {{contract.contractType.title}}
        </dd>

        <dt>
            تاریخ قرارداد
        </dt>
        <dd>
            {{contract.contractDateShamsi}}
        </dd>
        
        <dt>
            تاریخ تحویل
        </dt>
        <dd>
            {{contract.contractFinishDateShamsi}}
        </dd>

    </dl>
    
    <nav>
        <ul>
            <li>
                <a
                    routerLinkActive="active"
                    [routerLink]="['customerList','list']"
                >
                    خریدار
                </a>
            </li>
    
            <li>
                <a 
                    routerLinkActive="active"
                    [routerLink]="['projectItem']"
                >
                    موضوع قرارداد
                </a>
            </li>

            <li>
                <i
                    *ngIf="!isNavigattingToProjectItemAvailable()"
                    title="ابتدا موضوع قرارداد را ثبت کنید."
                >
                    بهای موضوع قرارداد
                </i>
                <a
                    routerLinkActive="active"
                    *ngIf="isNavigattingToProjectItemAvailable()"
                    [routerLink]="['payablePrice']"
                >
                    بهای موضوع قرارداد
                </a>
            </li>
    
            <li>
                <i
                    *ngIf="!isNavigattingToPaymentListAvailable()"
                    title="ابتدا بهای موضوع قرارداد را ثبت کنید."
                >
                    نحوه ی پرداخت
                </i>
                <a
                    *ngIf="isNavigattingToPaymentListAvailable()"
                    [routerLink]="['paymentList','list']"
                >
                    نحوه ی پرداخت
                </a>
            </li>

            <li>
                <i
                    *ngIf="!isNavigattingToEditContentAvailable()"
                    title="ابتدا اطلاعات قرارداد را تکمیل کنید."
                >
                    ویرایش متن قرارداد
                </i>
                <a
                    *ngIf="isNavigattingToEditContentAvailable()"
                    [routerLink]="['/contractManagement','editContent','contractId',contract._id]"
                >
                    ویرایش متن قرارداد
                </a>
            </li>

        </ul>
    </nav>
    
    
</section>