<section  class="container">
    <dl>

        <dt>
            شماره قرارداد
        </dt>
        <dd>
            {{contract.contractNumber}}
        </dd>

        <dt>
            نوع قرارداد
        </dt>
        <dd>
            {{contract.contractType.title}}
        </dd>

        <dt>
            تاریخ قرارداد
        </dt>
        <dd>
            {{contract.contractDateShamsi}}
        </dd>
        
        <dt>
            تاریخ تحویل
        </dt>
        <dd>
            {{contract.contractFinishDateShamsi}}
        </dd>

    </dl>
    
    <nav>
        <ul>
            <li>
                <a
                    [routerLink]="['customerList']"
                >
                    خریدار
                </a>
            </li>
    
            <li>
                <a 
                    [routerLink]="['projectItem']"
                >
                    ایتم فروش
                </a>
            </li>

            <li>
                <a
                    [routerLink]="['payablePrice']"
                >
                    مبلغ قابل پرداخت 
                </a>
            </li>
    
            <li>
                <a
                    [routerLink]="['paymentList']"
                >
                    پرداخت ها
                </a>
            </li>

            <li>
                <a
                    [routerLink]="['preview']"
                >
                    تایید نهایی
                </a>
            </li>
    
           
    
        </ul>
    </nav>
    
    
</section>