<form>
    <legend class="contract-legend">
        ثبت مورد قرارداد
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            
            <li>
                <label
                    for="txtUnit"
                >
                    واحد:
                </label>
                <input
                    type="text"
                    id="txtUnit"
                    name="txtUnit"
                    maxlength="10"
                    placeholder="واحد"
                    [(ngModel)]= "landParcelProjectItem.unit"
                    required
                >
            </li>

            <li>
                <label
                    for="txtArea"
                >
                    مساحت:
                </label>
                <input
                    type="number"
                    id="txtArea"
                    name="txtArea"
                    max="9999"
                    placeholder = "مساحت به مترمربع"
                    [(ngModel)]= "landParcelProjectItem.area"
                    required
                >
            </li>
            

            <li>
                <label
                    for="txtUnitPrice"
                >
                    مبلغ واحد:
                </label>
                
                <price-input
                    id = 'txtPrice'
                    name = 'txtPrice'
                    (setPrice)="setPrice($event)"
                ></price-input>
            </li>

            
        </ul>

        <section>
            <dl>
                <dt>
                    مجموع قیمت
                </dt>
                <dd>
                    <price-label
                        [price]="projectItemHelper.calculateTotalPrice(landParcelProjectItem)"
                    ></price-label>
                </dd>
            </dl>
        </section>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>

        <ul>
            <li>
                <button
                    class="primary"
                    type="button"
                    (click)="saveProjectItem()"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>