
<input type="radio" id="tabinfo" name="contractDetailTab" checked>
<label for="tabinfo">
    اطلاعات قرارداد
</label>
<section>
    <div
        *ngIf="!contract.customers || contract.customers.length ==0"
    >
        <p>
            اطلاعات خریداران تکمیل نشده است.
        </p>
    </div>

    <customer-list
        *ngIf="contract.customers && contract.customers.length > 0"
        [customerList]="contract.customers"
    ></customer-list>
</section>

<section>

    <div
        *ngIf="!contract.projectItem"
    >
        <p>
            اطلاعات مورد قرارداد تکمیل نشده است.
        </p>
        
    </div>

    <project-item-detail
        *ngIf="contract.projectItem"
        [projectType]="contract.project.projectType"
        [projectItem]="contract.projectItem"
    ></project-item-detail>

</section>

<section>
    <div
        *ngIf="!contract.payablePrice"
    >
        <p>
            اطلاعات مبلغ نهایی تکمیل نشده است
        </p>
    </div>
    <div
        *ngIf="contract.payablePrice"
    >
        <dl>
            <dt>
                تخفیف
            </dt>
            <dd>
                <price-label
                    [price]="contract.discount"
                ></price-label>
            </dd>

            <dt>
                مبلغ قابل پرداخت
            </dt>
            <dd>
                <price-label
                    [price]="contract.payablePrice"
                ></price-label>
            </dd>
        </dl>
    </div>
</section>

<input type="radio" id="tabpayments" name="contractDetailTab" checked>
<label for="tabpayments">
    پرداخت ها
</label>
<section>
    <div
        *ngIf="!contract.contractPayments || contract.contractPayments.length ==0"
    >
        <p>
            اطلاعات پرداخت ها تکمیل نشده است
        </p>
    </div>

    <contract-payment-by-contract-list
        *ngIf="contract.contractPayments && contract.contractPayments.length > 0"
        [contractPaymentList]="contract.contractPayments"
    ></contract-payment-by-contract-list>

</section>
