<form
    class="container"
>
    <legend class="contract-legend">
        ویرایش قالب قرارداد 
    </legend>

    <a
        [routerLink]="contractTemplateListUrlPartList"
        class="closeModal"
    >
        انصراف
    </a>

    <fieldset
        [disabled]="isLoading"
    >
        <ul
            *ngIf = "!isLoading && contractTemplate"
        >
            <li>
                <label
                    for="txtTitle"
                >
                    عنوان
                </label>

                <input
                    type="text"
                    id="txtTitle"
                    name="txtTitle"
                    maxlength="200"
                    [(ngModel)]= "contractTemplate.title"
                    required
                >
            </li>


            <li>
                <label
                    for="txtHtmlContent"
                >
                    محتوا:
                </label>

                <ol>
                    <li>
                        <button
                            (click)="makeH1()"
                        >
                            عنوان
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="makeH2()"
                        >
                            ماده
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="makeB()"
                        >
                            تبصره
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="makeP()"
                        >
                            متن
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="makeOl()"
                        >
                            لیست
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="makeLi()"
                        >
                            مورد لیست
                        </button>
                    </li>
                </ol>
                <ol>
                    <li>
                        <button
                            (click)="insertContractTitle()"
                        >
                            درج عنوان
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="insertCustomers()"
                        >
                            درج خریداران
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="insertPayments()"
                        >
                            درج پرداخت ها
                        </button>
                    </li>
                    <li>
                        
                        <button
                            (click)="insertSubject()"
                        >
                            درج موضوع قراداد
                        </button>
                    </li>
                    <li>
                        
                        <button
                            (click)="insertPayablePrice()"
                        >
                            درج بهای موضوع قراداد
                        </button>
                    </li>
                </ol>

                <textarea
                    id="txtHtmlContent"
                    name="txtHtmlContent"
                    [(ngModel)]= "contractTemplate.htmlContent"
                    rows="15"
                    required
                    (select)="view(textarea.selectionStart, textarea.selectionEnd)"
                    #textarea
                ></textarea>

            </li>
            <li>
                <label for="prgPreive">
                    پیش نمایش
                </label>
                <div
                    id = "prgPreive"
                    name = "prgPreive"
                    [innerHTML]="contractTemplate.htmlContent"
                ></div>
            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>
        
        <ul class="action-list">
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>
            <li>
                <a
                [routerLink]="contractTemplateListUrlPartList"
                class="secondary"
                >
                    انصراف
                </a>
            </li>
        </ul>

    </fieldset>
</form>