dl {
  display: flex;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  background-color: #fff;
  flex-wrap: wrap;
  position: relative;
}
dt {
  color: #667085;
  font-size: 12px;
  flex: 0 0 50%;
  order: -1;
  border-right: 1px solid #eaecf0;
  padding: 8px 8px 4px 4px;
}

dd {
  color: #101828;
  font-size: 16px;
  flex: 0 0 50%;
  border-right: 1px solid #eaecf0;
  padding: 4px 8px 8px 4px;
}

.secondary{
  background-color: transparent;
  border: none;
  text-indent: -900000px;
  overflow: hidden;
  background: url("../../../assets/images/icons/trash-03.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 25px;
}