<panel-navigation></panel-navigation>

<section class="container">

    <header>

        <h2>
            قرارداد های در حال تکمیل
        </h2>
    
        <a
            [routerLink]="['/','contractManagement','addContract']"
            role="button"
            class="add-item"
        >
            ثبت قرارداد جدید
        </a>
    
    </header>
   
    <loading-list
        *ngIf="isLoading"
    ></loading-list>

    <contract-list
        *ngIf="!isLoading && contractList.length > 0"
        [contractList]="contractList"
    ></contract-list>

</section>


