<loading
    *ngIf="isLoading"
></loading>

<ul
    *ngIf="!isLoading"
>
    <li
        *ngFor = 'let contractPaymentMehod of contractPaymentMehodList'
    >
        <input
            type="radio"
            name = 'contractPaymentMehod'
            [attr.id]="contractPaymentMehod._id"
            value="{{contractPaymentMehod._id}}"
            (change)="selectContractPaymentMehod(contractPaymentMehod)"
            [checked]="contractPaymentMehod._id == selectedContractPaymentMethod._id"
            (input)="selectedContractPaymentMethod"
        >
        <label
            [attr.for] = "contractPaymentMehod._id"
        >
            {{contractPaymentMehod.title}}
        </label>
    </li>
</ul>