ul {
  display: flex;
  border-radius: 6px;
  background-color: #f9fafb;
  border: 1px solid #d0d5dd;
  justify-content: space-around;
  margin-bottom: 36px;
  flex-wrap: wrap;
}
ul li{
  flex: 1 0 25%;
}
label {
  color: #667085;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  margin: 6px;
}
input{
  display: none;
}
input[type="radio"]:checked + label {
  background-color: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  border-radius: 6px;
  color: #101828;
}
