
<edit-contract-navigation
    [contractId]="contractId"
    [isInProjectItemSection]= true
    [hasProjectItem]="projectItem!=undefined"
></edit-contract-navigation>

<loading
    *ngIf="isLoading"
></loading>

<section
    *ngIf="!isLoading && projectItem"
    class="container"
>
    <project-item-detail
        [projectItem]="projectItem"
    ></project-item-detail>
    
    <button
        type="button"
        (click)="removeProjectItem()"
    >
        حذف
    </button>
</section>

<section
    *ngIf="!isLoading && !projectItem"
    class="container"
>

    <li>
        <label
            for="cmpSelectProject"
        >
            پروژه
        </label>

        <select-project
            id="cmpSelectProject"
            (setProject)="setProject($event)"
        ></select-project>
    </li>

    <add-residential-project-item
        *ngIf="!isLoading && isResidentailProjectItem() && project && project._id"
        (onProjectItemAdded)= "setNewProjectItem($event)"
        [projectId]="project._id"
    ></add-residential-project-item>

    <add-land-parcel-project-item
        *ngIf="!isLoading && isLandParcelProjectItem() && project && project._id"
        [projectId]="project._id"
        (onProjectItemAdded)= "setNewProjectItem($event)"
    ></add-land-parcel-project-item>

</section>

<nav
    class="container"
>
    <ul>
        <li>
           <a
                [routerLink]="['../payablePrice']"
                class="primary"
                role="button"
            >
                بعدی
            </a>
        </li>
        <li>
            <a
                [routerLink]="['../customerList']"
                class="secondary"
                role="button"
            >
                قبلی
            </a>
        </li>
    </ul>
</nav>