li {
  list-style: none;
}
nav {
  border-top: 1px solid #eaecf0;
  margin-top: 32px;
  padding-top: 32px;
  margin-bottom: 14px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav ul li {
  flex: 1 0 10%;
  max-width: 10%;
}
nav ul li button,
nav ul li a {
  width: 100%;
  display: inline-flex;
  text-align: center;
  justify-content: center;
}
.secondary {
  color: #344054;
  background: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 0;
}
section{
  position: relative;
}
.remove-btn{
  background-color: transparent;
  border: none;
  text-indent: -900000px;
  overflow: hidden;
  background: url("../../../assets/images/icons/trash-03.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 30px;
  top: 25px;
}
.action-list{
  justify-content: space-between;
}