<section
    class="container"
>
    <header>
        <h2>
            پروژه ها
        </h2>
        <a
            [routerLink]="['../add']"
            class="add-item"
        >
            پروژه جدید
        </a>
    </header>
    

    <loading-list
        *ngIf="isLoading"
    ></loading-list>

    <project-list
        *ngIf="!isLoading && projectList && projectList.length > 0"
        [projectList] = "projectList"
    ></project-list>


    <empty-list
        *ngIf="!isLoading && projectList.length == 0"
    ></empty-list>

</section>