<edit-contract-navigation
    [contractId]="contractId"
    [isInPaymentListSection]= true
    [hasProjectItem]= true
    [hasPayablePrice]= true
    [hasAnyPayment] = "hasAnyPayment"
></edit-contract-navigation>

<section
>

    <section
        *ngIf="!isLoading && contract"
        style="background-color: red;"
    >
        {{contractHelper.getContractPayablePriceDescription(contract,totalRegisteredPaymentListPrice)}}
    </section>

    <a
        [routerLink]="['../add']"
        role="button"
        class="add-item"
    >
        افزودن پرداخت
    </a>

    <contract-payment-by-contract-panel
        [contractId] = "contractId"
        (onPaymentListLengthChanged) = "paymentListLengthChanged($event)"
        (onPaymentTotalPriceChanged) = "paymentTotalPriceChanged($event)"
    ></contract-payment-by-contract-panel>

</section>

<router-outlet></router-outlet>