a {
  color: #344054;
  font-size: 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  width: 80%;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-weight: 700;
}
a::before{
    content: url("../../../assets/images/icons/plus-black.svg");
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}