<edit-contract-navigation
    [contractId]="contractId"
    [isInPaymentListSection]= true
    [hasProjectItem]= true
    [hasPayablePrice]= true
    [hasAnyPayment] = "hasAnyPayment"
></edit-contract-navigation>

<section
>

    <a
        [routerLink]="['../add']"
        role="button"
        class="add-item"
    >
        افزودن پرداخت
    </a>

    <section
        *ngIf="!isLoading && contract"
        class="message"
    >
        <dl>
            <dt>
                بهای قرارداد
            </dt>
            <dd>
                <price-label
                    [price]="contract.payablePrice"
                ></price-label>
            </dd>

            <dt>
                پرداخت های ثبت شده
            </dt>
            <dd>
                <price-label
                    [price]="totalRegisteredPaymentListPrice"
                ></price-label>
            </dd>

            <dt>
                باقی مانده تا تکمیل
            </dt>
            <dd>
                <price-label
                    [price]="getRemainingPrice()"
                ></price-label>
            </dd>
        </dl>
    </section>

    <contract-payment-by-contract-panel
        [contractId] = "contractId"
        (onPaymentListLengthChanged) = "paymentListLengthChanged($event)"
        (onPaymentTotalPriceChanged) = "paymentTotalPriceChanged($event)"
    ></contract-payment-by-contract-panel>

</section>

<router-outlet></router-outlet>