<panel-navigation></panel-navigation>

<contract-filter
    (setFilter) = 'setFilter($event)'
></contract-filter>

<div
    *ngIf="!filterOptions.project"
    class="container empty"
    
>
    فیلتر نمایش لیست قراردها را تکمیل کنید.
</div>

<loading
    *ngIf="isLoading"
></loading>
<contract-list
    *ngIf="!isLoading && contractList.length > 0"
    [contractList]="contractList"
></contract-list>

<div
    *ngIf="filterOptions.project && !isLoading && contractList.length == 0"
    class="container empty"
    
>
    قراردادی برای این پروژه وجود ندارد
</div>
