<dl>
    <dt>
        نام و نام خانوادگی
    </dt>
    <dd>
        {{customer.firstname}} {{customer.lastname}}
    </dd>

    <dt>
        کد ملی
    </dt>
    <dd>
        {{customer.nationalCode}}
    </dd>

    <dt>
        شماره موبایل
    </dt>
    <dd>
        {{customer.mobileNumber}}
    </dd>

    <dt>
        تلفن
    </dt>
    <dd>
        {{customer.phoneNumber}}
    </dd>

    <dt>
        کد پستی
    </dt>
    <dd>
        {{customer.postalCode}}
    </dd>

    <dt>
        آدرس
    </dt>
    <dd>
        {{customer.address}}
    </dd>
</dl>