<loading
    *ngIf = 'isLoading'
></loading>

<contract-detail
    *ngIf="!isLoading && contract"
    [contract]= "contract"
></contract-detail>

    <ul class="action-list">
        <li>
            <a
        [routerLink]="['/','home']"
        class="closeModal"
        >
                صفحه اصلی
        </a>
        </li>
        <li>
            <a
            [routerLink]="['/','contractManagement','editContract','contractId',contract._id,'baseInfo']"
        >
            ویرایش
        </a>
        </li>
    </ul>    

<section>
    <div>
        <router-outlet></router-outlet>
    </div>
</section>