#secProgress ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
  gap: 16px;
}
#secProgress ol li {
  color: #c8c9ca;
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  border-radius: 8px;
  background-color: #fff;
  cursor: not-allowed;
}
#secProgress ol li.active {
  background-color: #f6f1ff;
  color: #7f56d9;
  border: 1px solid #7F56D9;
  cursor: default;
}


fieldset ul:first-child {
  border-bottom: 1px solid #eaecf0;
  margin-bottom: 48px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.action-list a{
  float: left;
}
.action-list a,
.action-list button{
  width: 15%;
}
form{
  position: relative;
}
.closeModal{
  position: absolute;
  top: 0;
}