<form>
    <legend>
        پیش نویس قرارداد
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="cmpSelectContractType"
                >
                    نوع قرارداد
                </label>

                <select-contract-type
                    id="cmpSelectContractType"
                ></select-contract-type>
            </li>

            <li>
                <label
                    for="cmpSelectProject"
                >
                    پروژه
                </label>

                <select-project
                    id="cmpSelectProject"
                ></select-project>
            </li>

            <li>
                <label
                    for="txtConttractNumber"
                >
                    شماره قرارداد
                </label>

                <input
                    type="text"
                    id="txtConttractNumber"
                >
            </li>

            

        </ul>
        <ul>
            <li>
                <button
                    type="button"
                >
                    ثبت پیش نویس
                </button>
            </li>
        </ul>
    </fieldset>
</form>