<section
    id="secProgress"
>
    <ol>
        <li>
            اطلاعات
        </li>
        <li>
            خریدار
        </li>
        <li>
            موضوع قرارداد
        </li>
        
        <li>
            بهای موضوع قرارداد
        </li>
        <li>
            نحوه ی پرداخت
        </li>
    </ol>
</section>

<form
    class="container"
>
    <legend>
        اطلاعات اولیه
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="txtContractNumber"
                >
                    شماره قرارداد
                </label>

                <input
                    type="text"
                    id="txtContractNumber"
                    name="txtContractNumber"
                    maxlength="50"
                    [(ngModel)]="contract.contractNumber"
                >
            </li>

            <li>
                <label
                    for="cmpSelectContractType"
                >
                    نوع قرارداد
                </label>

                <select-contract-type
                    id="cmpSelectContractType"
                    name="cmpSelectContractType"
                    (setContractType) = "setContractType($event)"
                ></select-contract-type>
            </li>

            <li>
                <label
                    for="cmpContractDate"
                >
                    تاریخ قرارداد
                </label>

                <shmasi-date-picker
                    id="cmpContractDate"
                    name="cmpContractDate"
                    (setSelectedDate)="setContractDate($event)"
                ></shmasi-date-picker>
            </li>

            <li>
                <label
                    for="cmpContractFinishDate"
                >
                    تاریخ تحویل
                </label>

                <shmasi-date-picker
                    id = 'cmpContractFinishDate'
                    name = 'cmpContractFinishDate'
                    (setSelectedDate)="setcontractFinishDate($event)"
                ></shmasi-date-picker>
            </li>

        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>
        
        <ul>
            <li>
                <button
                    type="button"
                    (click)="draftContract()"
                    class="primary"
                >
                    ذخیره
                </button>
            </li>

            <li>
                    
                <a 
                    [routerLink]="['/','home']"
                >
                    انصراف
                </a>
            </li>
        </ul>
    </fieldset>
</form>