<section>
    <ul>
        <li
            *ngFor = 'let contractCustomer of contractCustomerList'
        >
            <customer-detail
                [customer] = "contractCustomer.customer"
            ></customer-detail>
            <ul>
                <li>
                    <button
                        type="button"
                        (click) = "removeContractCustomer(contractCustomer)"
                    >
                        حذف
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <add-contract-customer
        (onSelectedCustomer) = 'selectCustomer($event)'
    ></add-contract-customer>
</section>

<nav>
    <ul>
        <li>
            <button
                type="button"
            >
                ادامه
            </button>
        </li>
    </ul>
</nav>