<edit-contract-navigation
    [contractId]= "contractId"
    [isInCustomerListSection]= true
    [hasAnyCostomer] = 'contractCustomerList && contractCustomerList.length > 0'
></edit-contract-navigation>


<section
>
    <a
        [routerLink]="['../add']"
        role="button"
        class="add-item"
    >
        افزودن خریدار
    </a>

    <loading-list
        *ngIf="isLoading"
    ></loading-list>

    <ul
        *ngIf="!isLoading && contractCustomerList && contractCustomerList.length > 0"
    >
        <li
            class="contract-customer"
            *ngFor = 'let contractCustomer of contractCustomerList'
        >
            <customer-detail
                [customer] = "contractCustomer.customer"
            ></customer-detail>

            <ul>
                <li>
                    <button
                        type="button"
                        (click) = "removeContractCustomer(contractCustomer)"
                    >
                        حذف
                    </button>
                </li>

                <li>
                    <a
                        [routerLink]="['../edit']"
                        role="button"
                        class="edit-item"
                    >
                        ویرایش
                    </a>
                </li>
            </ul>
            
        </li>
    </ul>

    <empty-list
        *ngIf="!isLoading && contractCustomerList && contractCustomerList.length == 0"
    ></empty-list>

</section>


<router-outlet></router-outlet>

<nav class="container">
    <ul class="action-list">
        <li>
            <a
                 [routerLink]="['../projectItem']"
                 class="primary"
                 role="button"
             >
                 بعدی
             </a>
         </li>
    </ul>
</nav>