contract-payment-cheque-list-item,
contract-payment-deed-list-item,
contract-payment-deposit-list-item,
contract-payment-dicker-list-item{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
contract-payment-status-icon{
  position: absolute;
  left: 12px;
  top: 12px;
}
