<contract-payment-status-icon
    [contractPayment]="contractPayment"
></contract-payment-status-icon>

<contract-payment-cheque-list-item
    *ngIf="isChequePaymentMethod()"
    [chequeContractPayment]="contractPayment"
></contract-payment-cheque-list-item>

<contract-payment-deed-list-item
    *ngIf="isDeedPaymentMethod()"
    [deedContractPayment]="contractPayment"
></contract-payment-deed-list-item>

<contract-payment-deposit-list-item
    *ngIf="isDepositPaymentMethod()"
    [depositContractPayment]="contractPayment"
></contract-payment-deposit-list-item>

<contract-payment-dicker-list-item
    *ngIf="isDickerPaymentMethod()"
    [dickerContractPayment]="contractPayment"
></contract-payment-dicker-list-item>

<ul>

    <li>
        <a
            [routerLink]="['/','contractPaymentManagement','detail','contractPaymentId',contractPayment._id,'review']"
            class="secondary"
        >
            بررسی
        </a>
    </li>

</ul>