label {
  display: none;
}
li {
  position: relative;
}
.action-list li a{
    float: left;
}
.action-list{
    margin: 32px 0;
}
.action-list button,
.action-list a {
  width: 35%;
}
fieldset ul:first-child{
  display: flex;
  flex-direction: column;
  gap: 32px;
}