<select-contract-template
></select-contract-template>

<!-- <p
    *ngIf="!isLoading && contract"
>
    {{getContent()}}
</p> -->

<section>
    <ul>
        <li>
            <button
                (click)="addTitle()"
            >
                اضافه کردن عنوان قرارداد
            </button>
        </li>
        <li>
            <button
                (click)="addCustomersContent()"
            >
                اضافه کردن خریدارن
            </button>
        </li>
        <li>
            <button
                (click)="addProjectItemContent()"
            >
                اضافه کردن مورد فروش
            </button>
        </li>
        
        <li>
            <button
                (click)="addPaymentListContent()"
            >
                اضافه کردن لیست پرداخت ها
            </button>
        </li>
    </ul>
</section>

<section>
    <ul>
        <li
            *ngFor = 'let paragraph of paragraphList'
        >
            {{paragraph}}
        </li>
    </ul>
</section>

<div
    *ngIf="!isLoading && contract"
    [innerHTML]="getContent()"
></div>
 

<textarea
    *ngIf="!isLoading && contract"
    name=""
    id=""
    cols="30"
    rows="10"
    [value]="getContent()"
></textarea>

