

<!-- <p
    *ngIf="!isLoading && contract"
>
    {{getContent()}}
</p> -->
<!-- <section
    *ngIf="!isLoading && contract"
>
    <ul>
        <li>
            <button
                (click)="addTitle()"
            >
                اضافه کردن عنوان قرارداد
            </button>
        </li>
        <li>
            <button
                (click)="addCustomersContent()"
            >
                اضافه کردن خریدارن
            </button>
        </li>
        <li>
            <button
                (click)="addProjectItemContent()"
            >
                اضافه کردن مورد فروش
            </button>
        </li>
        
        <li>
            <button
                (click)="addPaymentListContent()"
            >
                اضافه کردن لیست پرداخت ها
            </button>
        </li>
    </ul>
</section> -->

<!-- <section>
    <ul>
        <li
            *ngFor = 'let paragraph of paragraphList'
        >
            <div
                [innerHTML]="paragraph"
            ></div>
            <ul>
                <li>
                    <button>
                        ویرایش
                    </button>
                </li>
                <li>
                    <button>
                        حذف
                    </button>
                </li>
            </ul>
            <hr>
        </li>
    </ul>
</section> -->
<loading
    *ngIf="isLoading"
></loading>

<form>
    <legend>
        ثبت متن قرارداد
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="cmpSelectContractTemplate"
                >
                    قالب قرارداد:
                </label>
                <select-contract-template
                    id="cmpSelectContractTemplate"
                    name ='cmpSelectContractTemplate'
                    (setContractTemplate)="setContractTemplate($event)"
                ></select-contract-template>
            </li>
            <li>
                <div
                    *ngIf="contract"
                    [innerHTML]="content"
                ></div>
                

                <textarea
                    *ngIf="contract"
                    name="txtContent"
                    id="txtContent"
                    cols="30"
                    rows="10"
                    [(ngModel)]="content"
                ></textarea>
            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <ul>
            <li>
                <button
                    (click)="saveContent()"
                    class="primary"
                >
                    ذخیره
                </button>
            </li>

            <li>
                <a
                    [routerLink]="['/','contractManagement','list','draft']"
                    class="secondary"
                >
                    انصراف
                </a>
            </li>
        </ul>
    </fieldset>
</form>




