<ul>
    <li
        *ngFor = 'let contractType of contractTypeList'
        
    >
        <input
            type="radio"
            name = 'contractType'
            [attr.id]="contractType._id"
            value="{{contractType._id}}"
            (change)="selectContractType(contractType)"
            [checked]="contractType._id == selectedContractType._id"
            (input)="selectedContractType"
        >
        <label
            [attr.for] = "contractType"
        >
            {{contractType.title}}
        </label>
    </li>
</ul>