<section>
    اطلاعات پروژه
</section>

<form>
    <legend>
        ثبت مورد قرارداد
    </legend>
    <fieldset>
        <ul>
            

            <li>
                <label
                    for="txtBlock"
                >
                    بلوک:
                </label>
                <input
                    type="text"
                    id="txtBlock"
                    name="txtBlock"
                    maxlength="10"
                    placeholder="بلوک"
                    [(ngModel)]= "residentialProjectItem.block"
                >
            </li>

            <li>
                <label
                    for="txtFloor"
                >
                    طبقه:
                </label>
                <input
                    type="number"
                    id="txtFloor"
                    name="txtFloor"
                    max="999"
                    placeholder="شماره طبقه"
                    [(ngModel)]= "residentialProjectItem.floor"
                >
            </li>

            <li>
                <label
                    for="txtUnit"
                >
                    واحد:
                </label>
                <input
                    type="text"
                    id="txtUnit"
                    name="txtUnit"
                    maxlength="10"
                    placeholder="شماره واحد"
                    [(ngModel)]= "residentialProjectItem.unit"
                >
            </li>

            <li>
                <label
                    for="txtBuildupArea"
                >
                    زیربنا:
                </label>
                <input
                    type="number"
                    id="txtBuildupArea"
                    name="txtBuildupArea"
                    max="9999"
                    placeholder = "متراژ زیربنا به مترمربع"
                    [(ngModel)]= "residentialProjectItem.buildupArea"
                >
            </li>
            

            <li>
                <label
                    for="txtUnitPrice"
                >
                    مبلغ واحد:
                </label>
                
                <price-input
                    id = 'txtPrice'
                    name = 'txtPrice'
                    (setPrice)="setPrice($event)"
                ></price-input>
            </li>

            
        </ul>

        <section>
            <dl>
                <dt>
                    مجموع قیمت
                </dt>
                <dd>
                    <price-label
                        [price]="calculateTotalPrice()"
                    ></price-label>
                </dd>
            </dl>
        </section>

        <ul>
            <li>
                <button class="primary"
                    type="button"
                    (click)="saveProjectItem()"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>