<section>
    اطلاعات پروژه
</section>

<form>
    <legend>
        ثبت مورد قرارداد
    </legend>
    <fieldset>
        <ul>
            

            <li>
                <label
                    for="txtBlock"
                >
                    بلوک:
                </label>
                <input
                    type="text"
                    id="txtBlock"
                >
            </li>

            <li>
                <label
                    for="txtFloor"
                >
                    طبقه:
                </label>
                <input
                    type="text"
                    id="txtFloor"
                >
            </li>

            <li>
                <label
                    for="txtUnit"
                >
                    واحد:
                </label>
                <input
                    type="text"
                    id="txtUnit"
                >
            </li>

            <li>
                <label
                    for="txtBuildupArea"
                >
                    زیربنا:
                </label>
                <input
                    type="text"
                    id="txtBuildupArea"
                >
            </li>
            

            <li>
                <label
                    for="txtUnitPrice"
                >
                    مبلغ واحد:
                </label>
                <input
                    type="text"
                    id="txtUnitPrice"
                >
            </li>

            
        </ul>

        <ul>
            <li>
                <button
                    type="button"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>