.bank_sina{
    background: url("/assets/images/bank_logo/sina/logo.png");
}

.bank_maskan{
    background: url("/assets/images/bank_logo/maskan/logo.png");
}

.bank_resalat{
    background: url("/assets/images/bank_logo/resalat/logo.png");
}

.bank_mellat{
    background: url("/assets/images/bank_logo/mellat/logo.png");
}