<section
    *ngIf="selectedBankAccount.bank"
    class="selected-bank"
>
    <dl>
    
        <dt>
            شماره حساب
        </dt>
        <dd class="bank-account">
            {{selectedBankAccount.accounNumber}}
        </dd>
        <dt>
            بانک
        </dt>
        <dd>
            <bank-label
                [bank] = "selectedBankAccount.bank"
            ></bank-label>
        </dd>


 
    </dl>

    <button
        type="button"
        (click)="remove()"
        class="remove"
    >
        حذف
    </button>
</section>

<details
    *ngIf="!selectedBankAccount.bank"
>
    <summary>
        انتخاب کنید
    </summary>
    <loading
        *ngIf="isLoading"
    ></loading>
   
    <ul
        *ngIf="!isLoading"
    >
        <li
            *ngFor = 'let bankAccount of bankAccountList'
            (click) = 'selectBankAccount(bankAccount)'
        >
            <dl>
                <dt>
                    شماره حساب
                </dt>

                <dd class="bank-account">
                    {{bankAccount.accounNumber}}
                </dd>

                <dt>
                    بانک
                </dt>

                <dd>
                    <bank-label
                        [bank] = "bankAccount.bank"
                    ></bank-label>
                </dd>
                 
    
            </dl>
        </li>
    </ul>
</details>
