<form
    id="frmAddContractPaymentCheque"
    name="frmAddContractPaymentCheque"
>

    <legend>
        ثبت پرداخت چک
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtPrice"
                >
                    مبلغ:
                </label>
                
                <input
                    type="number"
                    id="txtPrice"
                    name="txtPrice"
                    max = "999999999"
                    [(ngModel)]= 'contractPayment.price'
                >
            </li>

            <li>
                <label
                    for="cmpSelectBankAccount"
                >
                    شماره حساب:
                </label>
                <select-bank-account
                    id="cmpSelectBankAccount"
                    name="cmpSelectBankAccount"
                    (setBankAccount)="setBankAccount($event)"
                ></select-bank-account>
            </li>

            <li>
                <label
                    for="txtDueDate"
                >
                    تاریخ سررسید:
                </label>
                
                <input
                    type="date"
                    id="txtDueDate"
                    name="txtDueDate"
                    [(ngModel)]= 'contractPayment.dueDate'
                >
            </li>

            <li>
                <label
                    for="txtChequeNumber"
                >
                    شماره چک
                </label>
                
                <input
                    type="text"
                    id="txtChequeNumber"
                    name="txtChequeNumber"
                    maxlength="50"
                    [(ngModel)]= 'contractPayment.chequeNumber'
                >
            </li>

            <li>
                <label
                    for="cmbBank"
                >
                    بانک
                </label>
                
                <select-bank
                    id="cmbBank"
                    name="cmbBank"
                    (setBank)="setBank($event)"
                ></select-bank>
            </li>

        </ul>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>