<form
    id="frmAddContractPaymentCheque"
    name="frmAddContractPaymentCheque"
>

    <legend>
        ثبت پرداخت چک
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtPrice"
                >
                    مبلغ:
                </label>
                
                <price-input
                    id = 'txtPrice'
                    name = 'txtPrice'
                    (setPrice)="setPrice($event)"
                ></price-input>

            </li>

            <li>
                <label
                    for="cmpSelectBankAccount"
                >
                    شماره حساب:
                </label>
                <select-bank-account
                    id="cmpSelectBankAccount"
                    name="cmpSelectBankAccount"
                    (setBankAccount)="setBankAccount($event)"
                ></select-bank-account>
            </li>

            <li>
                <label
                    for="cmpDueDate"
                >
                    تاریخ سررسید:
                </label>
                
                <shmasi-date-picker
                    id="cmpDueDate"
                    name="cmpDueDate"
                    (setSelectedDate)="setDueDate($event)"
                ></shmasi-date-picker>
            </li>

            <li>
                <label
                    for="txtChequeNumber"
                >
                    شماره چک
                </label>
                
                <input
                    type="text"
                    id="txtChequeNumber"
                    name="txtChequeNumber"
                    maxlength="50"
                    [(ngModel)]= 'contractPayment.chequeNumber'
                >
            </li>

            <li>
                <label
                    for="cmbBank"
                >
                    بانک
                </label>
                
                <select-bank
                    id="cmbBank"
                    name="cmbBank"
                    (setBank)="setBank($event)"
                ></select-bank>
            </li>

            <li>
                <label
                    for="txtDrawer "
                >
                نام و نام خانوادگی صاحب چک
                </label>
                
                <input
                    type="text"
                    id="txtDrawer"
                    name="txtDrawer"
                    maxlength="50"
                    [(ngModel)]= 'contractPayment.drawer'
                >
            </li>

        </ul>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>