ol {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
ol .contract-list-item {
  display: flex;
  flex: 0 0 24%;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 100%;
  height: fit-content;
}

contract-template-list-item {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  flex: 1 0 100%;
  position: relative;
}
