<ul>
    <li>
        <label
            for="txtYear"
        >
            سال:
        </label>
        <input
            id="txtYear"
            name="txtYear"
            type="number"
            [(ngModel)]="year"
            minlength="4"
            min="1400"
            max="1410"
            maxlength="4"
            (input)="onYearChanged($event.target)"
            placeholder="سال"
        >
    </li>

    <li>
        <label
            for="txtMonth"
        >
            ماه:
        </label>
        <input
            id="txtMonth"
            name="txtMonth"
            type="number"
            [(ngModel)]="month"
            minlength="1"
            min="1"
            max="12"
            maxlength="2"
            (input)="onMonthChanged($event.target)"
            placeholder="ماه"
        >
    </li>

    <li>
        <label
            for="txtDay"
        >
            روز:
        </label>
        <input
            id="txtDay"
            name="txtDay"
            type="number"
            [(ngModel)]="day"
            minlength="1"
            min="1"
            max="31"
            maxlength="2"
            (input)="onDayChanged($event.target)"
            placeholder="روز"
        >
    </li>
</ul>