section{
  display: flex;
  flex-wrap: wrap;
}
dl {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 80%;
  position: relative;
}
dl dt {
  display: none;
}
ul {
  display: flex;
  flex: 0 0 20%;

}
dl dd {
  color: #101828;
  font-size: 14px;
}
dl dd{
  flex: 0 0 25%;
}


.bank-account {
  position: absolute;
  bottom: -16px;
}
