contract-payment-by-contract-cheque-list-item dt,
contract-payment-by-contract-dicker-list-item dt{
color: #667085;
font-size: 12px;
}

.remove-btn{
  border: none;
  background-color: transparent;
  text-indent: -90000px;
  overflow: hidden;
  background: url("../../../assets/images/icons/trash-03.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 10px;
}