<contract-payment-by-contract-cheque-list-item
    *ngIf="isChequePaymentMethod()"
    [chequeContractPayment]="contractPayment"
></contract-payment-by-contract-cheque-list-item>

<contract-payment-by-contract-deed-list-item
    *ngIf="isDeedPaymentMethod()"
    [deedContractPayment]="contractPayment"
></contract-payment-by-contract-deed-list-item>

<contract-payment-by-contract-deposit-list-item
    *ngIf="isDepositPaymentMethod()"
    [depositContractPayment]="contractPayment"
></contract-payment-by-contract-deposit-list-item>

<contract-payment-by-contract-dicker-list-item
    *ngIf="isDickerPaymentMethod()"
    [dickerContractPayment]="contractPayment"
></contract-payment-by-contract-dicker-list-item>
    
    <ul
        class="listItemActionMenu"
    >
        <li>
            <button
                type="button"
                (click)="removeContractPayment()"
                class="remove-btn"
            >
                حذف
            </button>
        </li>
    
    </ul>
