dl {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
  dl dt {
    display: none;
  }
  ul {
    display: flex;
  }
  dl dd {
    color: #101828;
    font-size: 14px;
  }
  
  dl dd {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .bank-account{
    position: absolute;
    bottom: -16px;
  }