<dl>
    <dt>
        نوع پرداخت
    </dt>
    <dd>
        {{deedContractPayment.contractPaymentMethod.title}}
    </dd>

    <dt class="bank-account">
        حساب
    </dt>
    <dd
        *ngIf="deedContractPayment.bankAccount"
        class="bank-account"
    >
        <bank-account-label
            [bankAccount]="deedContractPayment.bankAccount"
        ></bank-account-label>
    </dd>

    <dt class="project-name-dt">
        پروژه
    </dt>
    <dd class="project-name-dd">
        <project-label
        [project]="deedContractPayment.contract.project"
        ></project-label>
        
    </dd>

    <dt>
        مورد فروش
    </dt>
    <dd>
        <project-item-abbreviation
            [projectItem]="deedContractPayment.contract.projectItem"
        ></project-item-abbreviation>
    </dd>

    <dt>
        مبلغ
    </dt>
    <dd>
        <price-label
            [price]="deedContractPayment.price"
        ></price-label>
    </dd>

    <dt>
        سررسید
    </dt>
    <dd
        *ngIf="deedContractPayment.dueDateShamsi"
    >
        {{deedContractPayment.dueDateShamsi}}
    </dd>

    <dt class="last">
        پرداخت شده
    </dt>
    <dd>
        {{deedContractPayment.isSettled}}
    </dd>

</dl>