<form
    class="container"
>
    <legend>
        قالب پروژه جدید
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="txtTitle"
                >
                    عنوان
                </label>

                <input
                    type="text"
                    id="txtTitle"
                    name="txtTitle"
                    maxlength="200"
                    [(ngModel)]= "contractTemplate.title"
                    required
                >
            </li>


            <li>
                <label
                    for="txtHtmlContent"
                >
                    آدرس:
                </label>

                <textarea
                    id="txtHtmlContent"
                    name="txtHtmlContent"
                    [(ngModel)]= "contractTemplate.htmlContent"
                    rows="6"
                    required
                ></textarea>
            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>
        
        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>

                <a
                    [routerLink]="['../list']"
                    class="secondary"
                >
                    انصراف
                </a>
            </li>
        </ul>

    </fieldset>
</form>