<form
    class="container"
>
    <legend class="contract-legend">
        افزودن قالب قرارداد 
    </legend>

    <a
        [routerLink]="['../list']"
        class="closeModal"
    >
        انصراف
    </a>

    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="txtTitle"
                >
                    عنوان
                </label>

                <input
                    type="text"
                    id="txtTitle"
                    name="txtTitle"
                    maxlength="200"
                    [(ngModel)]= "contractTemplate.title"
                    required
                >
            </li>


            <li>
                <label
                    for="txtHtmlContent"
                >
                    محتوا:
                </label>

                <textarea
                    id="txtHtmlContent"
                    name="txtHtmlContent"
                    [(ngModel)]= "contractTemplate.htmlContent"
                    rows="15"
                    required
                    (select)="view(textarea.selectionStart, textarea.selectionEnd)"
                    #textarea
                ></textarea>

                <ol>
                    <li>
                        <button
                            (click)="makeH2()"
                        >
                            ماده
                        </button>
                    </li>
                    <li>
                        <button
                            (click)="makeH3()"
                        >
                            تبصره
                        </button>
                    </li>
                    <li>
                        <small>
                            عنوان قرارداد: TITLE
                        </small>
                    </li>
                    <li>
                        <small>
                            لیست مشتریان : CUSTOMERS
                        </small>
                    </li>
                    <li>
                        <small>
                            لیست پرداخت ها: PAYMENTS
                        </small>
                    </li>

                    <li>
                        <small>
                            موضوع قرارداد: SUBJECT
                        </small>
                    </li>
                </ol>
                

            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>
        
        <ul class="action-list">
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>
            <li>
                <a
                [routerLink]="['../list']"
                class="secondary"
                >
                    انصراف
                </a>
            </li>
        </ul>

    </fieldset>
</form>