dl{
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

dt {
  display: none;
}

dl .bank-title {
  color: #101828;
  font-size: 12px;
}
.bank-logo{
  width: 40px;
  height: 40px;
  background-size: contain;
}