div {
  background-color: #f2f4f7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
}
.user-access-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.user-access-form li {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 6px;
  flex: 0 0 20%;
}
li label {
  cursor: pointer;
}
.action-list a,
.action-list button {
  width: 35%;
}
.action-list a {
  float: left;
}
legend {
  margin-bottom: 32px;
}

@media (max-width: 992.8px) {
   section{
    padding: 16px;
    margin: 0 16px;
   } 
  .user-access-form li {
    flex: 1 0 45%;
  }
  .action-list {
    flex-direction: column;
    gap: 8px;
  }
  .action-list a,
  .action-list button {
    width: 100%;
  }
}
