button {
  width: 100%;
}
form {
  margin-top: 34px;
}

fieldset ul:nth-child(1) {
  margin-bottom: 34px;
  box-sizing: border-box;
}

fieldset ul:nth-child(1) li:nth-child(1) {
  display: inline-block;
  width: 50%;
}

fieldset ul:nth-child(1) li:nth-child(2) {
  display: inline-block;
  width: 47%;
  float: left;
}

fieldset ul:nth-child(1) li:nth-child(3) {
  margin: 12px 0;
}
.secondary{
  color: #344054;
  background: #fff;
  border: 1px solid #d0d5dd;
  width: 100%;
  display: block;
  margin-top: 12px;
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 0;
  text-align: center;
}