<form class="container">
    <legend class="normal-legend">
        افزودن کاربر جدید
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtFirstname"
                >
                    نام:
                </label>

                <input
                    type="text"
                    id="txtFirstname"
                    name="txtFirstname"
                    [(ngModel)]="user.firstname"
                    maxlength="200"
                    required
                >
            </li>

            <li>
                <label
                    for="txtLastname"
                >
                    نام خانوادگی:
                </label>

                <input
                    type="text"
                    id="txtLastname"
                    name="txtLastname"
                    [(ngModel)]="user.lastname"
                    maxlength="200"
                    required
                >
            </li>

            <li>
                <label
                    for="txtUsername"
                >
                    نام کاربری:
                </label>

                <input
                    type="text"
                    id="txtUsername"
                    name="txtUsername"
                    [(ngModel)]="user.username"
                    maxlength="200"
                    required
                >
            </li>

            <li>
                <label
                    for="txtPassword"
                >
                    رمز عبور
                </label>

                <input
                    type="text"
                    id="txtPassword"
                    name="txtPassword"
                    [(ngModel)]="user.password"
                    maxlength="200"
                    required
                >
            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="createUser()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>

            <li>
                <a
                    [routerLink]="['..']"
                    class="secondary"
                >
                    انصراف
                </a>
            </li>
        </ul>
    </fieldset>
</form>