<section
    *ngIf= "selectedProject.title"
>
    <dl
        
    >
        <dt>
            عنوان
        </dt>
        <dd>
            {{selectedProject.title}}
        </dd>

    </dl>

    <button
        type="button"
        (click)="remove()"
    >
        حذف
    </button>
</section>

<loading
    *ngIf="isLoading"
></loading>

<details
    *ngIf="!isLoading && !selectedProject.title"
>
    <summary>
        انتخاب کنید
    </summary>
    <ul
        *ngIf="!isLoading && projectList.length > 0"
    >
        <li
            *ngFor = 'let project of projectList'
        >
            <input
                type="radio"
                name = 'project'
                [attr.id]="project._id"
                value="{{project._id}}"
                (change)="selectProject(project)"
                [checked]="project._id == selectedProject._id"
                (input)="selectedProject"
            >
            <label
                [attr.for] = "project._id"
            >
                {{project.title}}
            </label>
        </li>
    </ul>
    <div
        *ngIf="!isLoading && projectList.length == 0"
        class="container empty"
    >
        پروژه ای وجود ندارد.
    </div>
</details>
