<form>
    <legend>
        ثبت پرداخت سر سند
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="cmpPrice"
                >
                    مبلغ:
                </label>
                
                <price-input
                    id = 'cmpPrice'
                    name = 'cmpPrice'
                    (setPrice)="setPrice($event)"
                ></price-input>
            </li>

            <li>
                <label
                    for="cmpSelectBankAccount"
                >
                    شماره حساب:
                </label>

                <select-bank-account
                    id="cmpSelectBankAccount"
                    name="cmpSelectBankAccount"
                    (setBankAccount)= "setBankAccount($event)"
                ></select-bank-account>
            </li>
            
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>