<loading
    *ngIf="isLoading"
></loading>

<a
    [routerLink]="['/','contractManagement','list','requested']"
    class="closeModal"
>
    لیست قرارداد های در انتظار تایید
</a>

<contract-full-detail
    *ngIf="!isLoading && contract"
    [contract]="contract"
></contract-full-detail>

<form
    *ngIf="!isLoading && contract"
>
    <legend>
        تعیین وضعیت بررسی
    </legend>

    <a 
        [routerLink]="['/','contractManagement','list','requested']"
        class="closeModal"
    >
        انصراف
    </a>

    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <button
                    type="button"
                    (click)="accpet()"
                    class="primary"
                >
                    تایید پیش نویس قرارداد
                </button>
            </li>
            <li>
                <button
                    type="button"
                    (click)="reject()"
                    class="secondary"
                >
                    رد پیش نویس قرارداد
                </button>
            </li>
        </ul>
    </fieldset>
</form>
    