<loading
    *ngIf="isLoading"
></loading>


<form
    *ngIf="!isLoading && contract"
>
    <legend>
        تعیین وضعیت بررسی
    </legend>

    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <button
                    type="button"
                    (click)="accpet()"
                    class="primary"
                >
                    تایید پیش نویس قرارداد
                </button>
            </li>
            <li>
                <button
                    type="button"
                    (click)="reject()"
                    class="secondary"
                >
                    رد پیش نویس قرارداد
                </button>
            </li>
            <li>
                <a
                    [routerLink]="['/','contractManagement','list','requested']"
                >
                    مشاهده لیست
                </a>
            </li>
        </ul>
    </fieldset>
</form>
    

<contract-full-detail
    *ngIf="!isLoading && contract"
    [contract]="contract"
></contract-full-detail>