<form class="container">
    <legend>
        پروژه جدید
    </legend>
    <fieldset>
        <ul>
            <li>
                <label
                    for="txtTitle"
                >
                    عنوان
                </label>

                <input
                    type="text"
                    id="txtTitle"
                    name="txtTitle"
                    [(ngModel)]= "project.title"
                >
            </li>

            <li>
                <label
                    for="cmpProjectType"
                >
                    نوع پروژه
                </label>

                <select-project-type
                    id="cmpProjectType"
                    (setProjectType)="setProjectType($event)"
                ></select-project-type>
            </li>

            <li>
                <label
                    for="txtAddress"
                >
                    آدرس:
                </label>

                <textarea
                    id="txtAddress"
                    name="txtAddress"
                    [(ngModel)]= "project.address"
                    rows="6"
                ></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>

                <a href="/projectManagement" class="secondary">
                    انصراف
                </a>
            </li>
        </ul>
    </fieldset>
</form>