<form
    class="container"
>
    <legend>
        پروژه جدید
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="txtTitle"
                >
                    عنوان
                </label>

                <input
                    type="text"
                    id="txtTitle"
                    name="txtTitle"
                    maxlength="200"
                    [(ngModel)]= "project.title"
                    required
                >
            </li>

            <li>
                <label
                    for="cmpProjectType"
                >
                    نوع پروژه
                </label>

                <select-project-type
                    id="cmpProjectType"
                    name="cmpProjectType"
                    (setProjectType)="setProjectType($event)"
                ></select-project-type>
            </li>

            <li>
                <label
                    for="txtAddress"
                >
                    آدرس:
                </label>

                <textarea
                    id="txtAddress"
                    name="txtAddress"
                    [(ngModel)]= "project.address"
                    rows="6"
                    required
                ></textarea>
            </li>
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>
        
        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>

                <a
                    [routerLink]="['..']"
                    class="secondary"
                >
                    انصراف
                </a>
            </li>
        </ul>

    </fieldset>
</form>