dt {
  display: none;
}
dd {
  color: #101828;
  font-size: 16px;
}
dl{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 16px;
    margin-bottom: -16px;
}


img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
