<dl>
    <dt>
        تصویر
    </dt>
    <dd>
        <!-- [ngStyle]="{'background-image': 'url(' + getPhotoUrl() + ')'}" -->
        <div
            
            [style.background-image]="'url(' + getPhotoUrl() + ')'"
        ></div>

        <!-- <img src="https://assets.megabuild.ir/user/6484a5445b3d84cfe46a9b30.png" alt=""> -->
    </dd>

    <dt>
        نام
    </dt>
    <dd>
        {{user.firstname}}
    </dd>

    <dt>
        نام خانوادگی
    </dt>
    <dd>
        {{user.lastname}}
    </dd>

</dl>