/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: NunitoSans;
  src: url("assets/fonts/NunitoSans-Regular.ttf");
}
body {
  font-family: NunitoSans;
  margin: 0;
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/NunitoSans-ExtraBold.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/NunitoSans-Light.ttf");
}
@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/NunitoSans-ExtraLight.ttf");
}

html,
body {
  font-family: NunitoSans, serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

form fieldset {
  border: none;
}
.main-add-btn {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #91929e;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(184 200 224 / 22%);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::before {
    content: "";
    background: url(/assets/images/icn-general-add-blue.svg);
    margin-right: 8px;
    -webkit-writing-mode: vertical-rl;
    width: 20px;
    display: inline-block;
    height: 16px;
  }
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}

.main-modal {
  background-color: rgba(10, 22, 41, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}

input {
  padding-left: 10px !important;
  padding-right: 10px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  padding-left: 10px !important;
  padding-right: 10px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup {
  animation: popup 0.5s;
}

@keyframes popup {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.aclass {
  width: 134px;
  height: 134px;
  margin-right: 16px;
  img {
    width: 100%;
  }
}

.main-details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}
form {
  fieldset:disabled {
    label {
      color: #b2b8c2 !important;
    }
    input {
      border: solid 1px #ced5e0 !important;
      &::placeholder {
        color: #b2b8c2 !important;
      }
    }
    textarea {
      border: solid 1px #ced5e0 !important;
      color: #b2b8c2 !important;
    }
    button {
      background-color: #ced5e0 !important;
      color: #fff !important;
    }
  }
}
a {
  text-decoration: none;
}

@-moz-document url-prefix() {
  button {
    font-family: NunitoSans, serif !important;
  }
}
input {
  font-size: 14px;
  font-family: NunitoSans, serif !important;
}
textarea {
  font-size: 14px;
  font-family: NunitoSans, serif !important;
}

input:focus {
  outline: none !important;
  border-color: #3f8cff !important;
  box-shadow: 0px 0px 3px -1px #3f8cff !important;
}
textarea:focus {
  outline: none !important;
  border-color: #3f8cff !important;
  box-shadow: 0px 0px 3px -1px #3f8cff !important;
}

select:focus {
  outline: none !important;
  border-color: #3f8cff !important;
  box-shadow: 0px 0px 3px -1px #3f8cff !important;
}

input[type="search"] {
  -webkit-appearance: none;
}
ul {
  list-style: none;
}
select {
  font-size: 14px;
}

.required {
  &::after {
    content: " *";
    display: inline;
    color: #f65160;
    font-size: 16px;
    opacity: 0.7;
  }
}
body,h1,p,legend,ul,li,ol{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
