/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: IRANSansWeb;
  src: url("assets/fonts/IRANSansWeb.woff2");
}
body {
  font-family: IRANSansWeb;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/IRANSansWeb_Bold.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/IRANSansWeb.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/IRANSansWeb.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 200;
  src: url("assets/fonts/IRANSansWeb.woff2");
}

@font-face {
  font-family: IRANSansWeb;
  src: url("assets/fonts/IRANSansWebNum.woff2");
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992.8px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
html,
body {
  font-family: IRANSansWeb;
  overflow-x: hidden;
}

form fieldset {
  border: none;
}
.main-add-btn {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 10px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #91929e;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(184 200 224 / 22%);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::before {
    content: "";
    background: url(/assets/images/icn-general-add-blue.svg);
    margin-right: 8px;
    -webkit-writing-mode: vertical-rl;
    width: 20px;
    display: inline-block;
    height: 16px;
  }
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    border: solid 1px #91929e;
    transition: 0.5s;
  }
}

.main-modal {
  background-color: rgba(10, 22, 41, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}

.popup {
  animation: popup 0.5s;
}

@keyframes popup {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
select-project{
  position: relative;
}
.aclass {
  width: 134px;
  height: 134px;
  margin-right: 16px;
  img {
    width: 100%;
  }
}

.main-details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

a {
  text-decoration: none;
}

@-moz-document url-prefix() {
  button {
    font-family: NunitoSans, serif !important;
  }
}

ul {
  list-style: none;
}
select {
  font-size: 14px;
}

.required {
  &::after {
    content: " *";
    display: inline;
    color: #f65160;
    font-size: 16px;
    opacity: 0.7;
  }
}

h1,
p,
legend,
ul,
li,
ol,
fieldset,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inputs Style  */

label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #101828;
  display: block;
  margin-bottom: 8px;
}
input {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 8px 0;
  width: 100%;
  text-indent: 12px;
  font-size: 14px;
  font-family: IRANSansWeb;
}

input:focus {
  outline: 0 none;
  border-color: #7f56d9;
}

input[type="radio"] {
  border: none;
  box-shadow: none;
  accent-color: #7f56d9;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  clip-path: circle(64% at 50% 50%);
}
input[type="checkbox"]:checked {
  accent-color: #7f56d9;
}
textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 12px;
  box-sizing: border-box;
}
/* Inputs Style End */

/* Buttons Style */
button {
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 10px;
}
button.primary {
  background: #7f56d9;
  color: #fff;
  border: none;
  transition: all 0.4s;
}
button.primary:hover {
  background: #6941c6;
  transition: all 0.4s;
}
button.secondary {
  color: #344054;
  background: #fff;
  border: 1px solid #d0d5dd;
}
button.disabled {
  background: #e9d7fe;
  color: #fff;
  border: none;
  transition: all 0.4s;
}
button {
  cursor: pointer;
}
.add-item {
  color: #344054;
  font-size: 14px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 80%;
  margin: 32px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-weight: 700;
}
.add-item::before {
  content: url("./assets/images/icons/plus-black.svg");
  display: inline;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
/* Buttons Style End*/

/* Summary Details Style */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details summary {
  cursor: pointer;
}

/* Summary Details Style End */

/* Bank Logo */

.bank-logo {
  width: 32px;
  height: 32px;
}

.bank_ansar {
  background: url("assets/images/bank_logo/Ansar.svg") center no-repeat;
  background-size: contain;
}
.bank_ayandeh {
  background: url("assets/images/bank_logo/Ayandeh.svg") center no-repeat;
  background-size: contain;
}
.bank_bank_markazi {
  background: url("assets/images/bank_logo/Bank_Markazi.svg") center no-repeat;
  background-size: contain;
}
.bank_caspian {
  background: url("assets/images/bank_logo/Caspian.svg") center no-repeat;
  background-size: contain;
}
.bank_dey {
  background: url("assets/images/bank_logo/Dey.svg") center no-repeat;
  background-size: contain;
}

.bank_eghtesad_novin {
  background: url("assets/images/bank_logo/Eghtesad_Novin.svg") center no-repeat;
  background-size: contain;
}
.bank_futurebank {
  background: url("assets/images/bank_logo/Futurebank.svg") center no-repeat;
  background-size: contain;
}
.bank_sina {
  background: url("assets/images/bank_logo/Sina.svg") center no-repeat;
  background-size: contain;
}

.bank_maskan {
  background: url("assets/images/bank_logo/Maskan.svg") center no-repeat;
  background-size: contain;
}

.bank_resalat {
  background: url("assets/images/bank_logo/Resalat.svg") center no-repeat;
  background-size: contain;
}

.bank_resalat {
  background: url("assets/images/bank_logo/Resalat.svg") center no-repeat;
  background-size: contain;
}

.bank_mellat {
  background: url("assets/images/bank_logo/Mellat.svg") center no-repeat;
  background-size: contain;
}

.bank_tejarat {
  background: url("assets/images/bank_logo/Tejarat.svg") center no-repeat;
  background-size: contain;
}
.bank_melli {
  background: url("assets/images/bank_logo/Melli.svg") center no-repeat;
  background-size: contain;
}

/* Bank Logo End*/

/* Draft Contract */
.action-list {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.action-list li {
  display: block;
  width: 100%;
}

.action-list .primary {
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 0;
  background: #7f56d9;
  color: #fff;
  border: none;
  transition: all 0.4s;
  width: 10%;
  display: block;
  text-align: center;
}
.action-list .primary:hover {
  background: #6941c6;
  transition: all 0.4s;
}
.action-list .secondary {
  border-radius: 8px;
  font-size: 14px;
  font-family: IRANSansWeb;
  padding: 8px 0;
  color: #fff;
  width: 10%;
  display: block;
  text-align: center;
  color: #344054;
  background: #fff;
  border: 1px solid #d0d5dd;
}
.contract-legend {
  color: #101828;
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 16px 0;
}
.contract-form {
  background-color: #fff;
  margin: auto;
  width: 60%;
  padding: 32px;
}
/* Draft Contact End */
