<ul class="container">
    <ul class="contract-review-header">
        <li>  شماره قرارداد</li>
        <li>تاریخ قرار داد</li>
        <li>تاریخ تحویل</li>
        <li> خریدار</li>
        <li> مبلغ قرارداد</li>
        <li> مورد قرارداد </li>
        <li>وضعیت  قرارداد</li>
        <li>وضعیت بررسی</li>
        <li>وضعیت بررسی</li>
        <li>وضعیت بررسی</li>

    </ul>
    <li
        *ngFor = 'let contractReview of contractReviewList'
        class="contract-review"
    >
        <contract-review-list-item
            [contractReview]= "contractReview"
        ></contract-review-list-item>
    </li>
</ul>