<ul class="container">
    <ul class="contract-review-header">
        <li>مشتری/شماره قرار داد</li>
        <li>تاریخ قرار داد</li>
        <li>واحد/طبقه/بلوک</li>
        <li>تاریخ تحویل</li>
        <li>مبلغ (ریال)</li>
        <li>درخواست بررسی</li>
        <li>وضعیت</li>
    </ul>
    <li
        *ngFor = 'let contractReview of contractReviewList'
        class="contract-review"
    >
        <contract-review-list-item
            [contractReview]= "contractReview"
        ></contract-review-list-item>
    </li>
</ul>