contract-review-list-item {
  display: flex;
}
ul{
  margin-top: 32px;
}
.contract-review-header {
  background-color: #f9fafb;
  border-radius: 12px 12px 0 0;
  border: 1px solid #eaecf0;
  color: #667085;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}
.contract-review-header li {
  flex: 1 0 14%;
  max-width: 14%;
}
.contract-review{
  padding: 16px 0;
  border: 1px solid #EAECF0;
}
.contract-review:last-child{
  border-radius: 0 0 12px 12px;
}