<loading
    *ngIf="isLoading"
></loading>

<ul
    *ngIf="!isLoading && projectTypeList && projectTypeList.length > 0"
>
    <li
        *ngFor = 'let projectType of projectTypeList'
    >
        <input
            type="radio"
            name = 'projectType'
            [attr.id]="projectType._id"
            value="{{projectType._id}}"
            (change)="selectProjectType(projectType)"
            [checked]="projectType._id == selectedProjectType._id"
            (input)="selectedProjectType"
        >
        <label
            [attr.for] = "projectType._id"
        >
            {{projectType.title}}
        </label>
    </li>
</ul>

<b
    *ngIf="!isLoading && projectTypeList && projectTypeList.length == 0"
>
    موردی ثبت نشده است
</b>