ul {
  border-radius: 8px;
  border: 1px solid #eaecf0;
  padding: 16px;
}
ul li {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #eaecf0;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
ul li label {
  font-size: 16px;
  color: #101828;
  margin: 0;
  cursor: pointer;
}
input {
  width: min-content;
}
