<loading
    *ngIf="isLoading"
></loading>

<ul
    *ngIf="!isLoading && userList && userList.length > 0"
>
    <li
        *ngFor = 'let user of userList'
    >
    
        <input
            #refEl
            type="checkbox"
            id="chkUser{{user._id}}"
            name="chkUser{{user._id}}"
            [value]="user._id"
            (change)="selectedUserChanged(refEl,user)"
        >
        <label
            for= "chkUser{{user._id}}"
        >
            {{user.firstname}} {{user.lastname}}
        </label>
    </li>
</ul>

<empty-list
    *ngIf="!isLoading && userList && userList.length == 0"
></empty-list>