<ol class="container">
    <ul class="contract-list-header">
        <li>شماره قرارداد</li>
        <li>
            تاریخ قرارداد
            <button
                class="sort-btn"
                [ngClass]="contractDateSortType === 1?'up':''"
                (click)="sortByContractDate()"
            >
                sort
            </button>
        </li>
        <li>
            تاریخ تحویل
            <button
                class="sort-btn"
                [ngClass]="contractFinishDateSortType === 1?'up':''"
                (click)="sortByContractFinishDate()"
            >
                sort
            </button>
        </li>
        <li>خریدار</li>
        <li>مبلغ قرارداد(ريال)</li>
        <li>مورد قرارداد</li>
        <li>وضعیت بررسی</li>
        <li>وضعیت بررسی</li>
        <li>وضعیت بررسی</li>

    </ul>
    <li
        *ngFor = 'let contract of contractList'
        class="contract-list-item"
    >
        <contract-list-item
            [contract]="contract"
        ></contract-list-item>
    </li>
</ol>