<form>
    <legend>
        ثبت پرداخت تهاتر
    </legend>
    <fieldset
        [disabled]="isLoading"
    >
        <ul>
            <li>
                <label
                    for="txtPrice"
                >
                    مبلغ:
                </label>
                
                <price-input
                    id = 'txtPrice'
                    name = 'txtPrice'
                    (setPrice)="setPrice($event)"
                ></price-input>
            </li>
            
        </ul>

        <loading
            *ngIf="isLoading"
        ></loading>

        <validation-result
            *ngIf="validationResult.hasError"
            [validationResult]="validationResult"
        ></validation-result>

        <ul>
            <li>
                <button
                    type="button"
                    (click)="save()"
                    class="primary"
                >
                    ثبت
                </button>
            </li>
        </ul>
    </fieldset>
</form>